{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        جزئیات تیم
       </h1>
       <h4 class="sub-title">
        <a class="home" href="{% url 'index:index' %}">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="{% url 'team:team-detail' team.pk %}">
         جزئیات تیم
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="team-details pt-140 pb-140 pin-section">
     <div class="container container-2">
      <div class="row pin-inner">
       <div class="col-lg-6">
        <div class="team-details-img pin-box">
         <img alt="{{ team.full_name }}" src="{{ team.image.url }}"/>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="team-details-content scroll-content">
         <h2 class="name">
          {{ team.full_name }}
         </h2>
         <span class="prof">
          {{ team.position }}
         </span>
         <p class="desc">
          {{ team.description }}
         </p>
         <div class="team-details-contact">
          <span>
           آدرس ایمیل:
          </span>
          <a class="mail" href="mailto:{{ team.email }}">
           {{ team.email }}
          </a>
          <a class="number" href="tel:{{ team.phone }}">
           {{ team.phone }}
          </a>
          <ul class="social-list">
           <li>
            <a href="#">
             <i class="fa-brands fa-facebook-f"></i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa-brands fa-instagram"></i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa-brands fa-behance"></i>
            </a>
           </li>
           <li>
            <a href="#">
             <i class="fa-brands fa-linkedin-in"></i>
            </a>
           </li>
          </ul>
         </div>

         <!-- بخش اطلاعات حرفه‌ای - داینامیک شده -->
         <div class="team-details-info mb-0">
          <h3 class="details-title">
           {{ team.info_title }}
          </h3>
          {% if team.info_description %}
          <p>
           {{ team.info_description }}
          </p>
          {% endif %}

          {% if team.info_items.all %}
          <ul class="team-details-list">
           {% for item in team.info_items.all %}
           <li>
            <i class="fa-sharp fa-solid fa-circle-check"></i>
            {{ item.text }}
           </li>
           {% endfor %}
          </ul>
          {% endif %}
         </div>
         <div class="skill-item-wrap">
           <h4 class="details-title">
            تخصص و مهارت
           </h4>
           <p>
            {{ team.description }}
           </p>
           <div class="skills-items">
            <div class="skills-item fade-top">
             <h4 class="title">
              {{ team.skill_one }}
             </h4>
             <div class="progress">
              <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: {{ team.skill_one_percent }}%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
               <span>
                {{ team.skill_one_percent }}%
               </span>
               <div class="dot">
               </div>
              </div>
             </div>
            </div>
            <div class="skills-item fade-top">
             <h4 class="title">
              {{ team.skill_two }}
             </h4>
             <div class="progress">
              <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: {{ team.skill_two_percent }}%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
               <span>
                {{ team.skill_two_percent }}%
               </span>
               <div class="dot">
               </div>
              </div>
             </div>
            </div>
            <div class="skills-item fade-top">
             <h4 class="title">
              {{ team.skill_three }}
             </h4>
             <div class="progress">
              <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: {{ team.skill_three_percent }}%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
               <span>
                {{ team.skill_three_percent }}%
               </span>
               <div class="dot">
               </div>
              </div>
             </div>
            </div>
           </div>
          </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ team-section -->

   </div>
  </div>
{% endblock content %}