{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        جزئیات خدمات
       </h1>
       <h4 class="sub-title">
        <a class="home" href="service.html">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="service-details.html">
         جزئیات خدمات
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="service-details pt-130 pb-130">
     <div class="container container-2">
      <div class="row pin-inner">
       <div class="col-lg-4 col-md-12">
        <div class="service-details-left-content pin-box">
         <div class="service-category-list">
          <h3 class="list-title">
           سایر خدمات
          </h3>
          <ul>
           <li class="active">
            <a href="#">
             طراحی داخلی مسکونی
            </a>
           </li>
           <li>
            <a href="#">
             طراحی داخلی تجاری
            </a>
           </li>
           <li>
            <a href="#">
             مشاوره طراحی داخلی
            </a>
           </li>
           <li>
            <a href="#">
             طراحی فضای باز و منظر
            </a>
           </li>
           <li>
            <a href="#">
             نوسازی و بازسازی
            </a>
           </li>
           <li>
            <a href="#">
             چیدمان داخلی 2D/3D
            </a>
           </li>
          </ul>
         </div>
         <div class="service-details-cta">
          <div class="cta-bg" data-background="{% static 'img/bg-img/service-cta-bg-2.png' %}">
          </div>
          <div class="icon">
           <img alt="نماد" src="{% static 'img/icon/service-details-cta.png' %}"/>
          </div>
          <span>
           آیا به کمک نیاز دارید؟
          </span>
          <a class="number" href="tel:02112345678">
           02112345678
          </a>
          <a class="mail" href="mailto:">
           support@example.com
          </a>
          <div class="cta-btn">
           <a href="contact.html">
            تماس با ما
           </a>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="service-details-content scroll-content">
         <div class="service-details-img">
          <img alt="img" src="{% static 'img/service/service-details-img-1.png' %}"/>
         </div>
         <h1 class="details-title">
          در مورد خدمات
         </h1>
         <p>
          طراحی داخلی تجاری به طور مداوم در حال تحول است، با روندهای جدیدی که برای پاسخگویی به تغییر نیازها و ترجیحات کسب و کارها و مشتریان آنها ظهور می کند. یکی از مهم ترین روندهای سال های اخیر طراحی بیوفیلیک است که شامل ترکیب عناصر طبیعی مانند گیاهان، چوب و سنگ در طراحی است.
         </p>
         <p>
          تقاضای فزاینده برای چیدمان‌های قابل انطباق که بتواند نیازهای در حال تغییر را برآورده کند. این ممکن است شامل پارتیشن های متحرک مدولار باشد. پایداری نیز روند کلیدی در طراحی داخلی تجاری است
         </p>
         <div class="service-details-items">
          <div class="service-details-item">
           <div class="icon">
            <img alt="خدمات" src="{% static 'img/icon/service-details-1.png' %}"/>
           </div>
           <div class="content">
            <h3 class="title">
             بهینه سازی فضا
            </h3>
            <p>
             از طریق بهترین طراحی داخلی بهینه سازی فضای هوشمند.
            </p>
           </div>
          </div>
          <div class="service-details-item">
           <div class="icon">
            <img alt="خدمات" src="{% static 'img/icon/service-details-2.png' %}"/>
           </div>
           <div class="content">
            <h3 class="title">
             طرح بندی های انعطاف پذیر
            </h3>
            <p>
             از طریق بهترین طراحی داخلی بهینه سازی فضای هوشمند.
            </p>
           </div>
          </div>
          <div class="service-details-item">
           <div class="icon">
            <img alt="خدمات" src="{% static 'img/icon/service-details-3.png' %}"/>
           </div>
           <div class="content">
            <h3 class="title">
             فناوری هوشمند
            </h3>
            <p>
             از طریق بهترین طراحی داخلی بهینه سازی فضای هوشمند.
            </p>
           </div>
          </div>
          <div class="service-details-item">
           <div class="icon">
            <img alt="خدمات" src="{% static 'img/icon/service-details-4.png' %}"/>
           </div>
           <div class="content">
            <h3 class="title">
             کارایی هزینه
            </h3>
            <p>
             از طریق بهترین طراحی داخلی بهینه سازی فضای هوشمند.
            </p>
           </div>
          </div>
         </div>
         <div class="service-details-img-wrap">
          <div class="details-img">
           <img alt="img" src="{% static 'img/service/service-details-img-2.png' %}"/>
          </div>
          <div class="details-img">
           <img alt="img" src="{% static 'img/service/service-details-img-3.png' %}"/>
          </div>
         </div>
         <h2 class="details-title">
          انواع فضاهای تجاری
         </h2>
         <p>
          در طراحی، ما ویژگی‌های دنیای طبیعی را در شرکت آنترا می‌آوریم، مانند آب، فضای سبز و نور طبیعی یا عناصری مانند چوب و سنگ. تشویق به استفاده از سیستم ها و فرآیندهای طبیعی در طراحی، امکان قرار گرفتن در معرض طبیعت را فراهم می کند و به نوبه خود، این رویکردهای طراحی سلامت و رفاه را بهبود می بخشد. تعدادی از مزایای احتمالی وجود دارد، از جمله کاهش تغییرات ضربان قلب و ضربان نبض، کاهش فشار خون، و افزایش فعالیت در سیستم عصبی ما، به نام چند.
         </p>
         <h2 class="details-title">
          عناصر کلیدی طراحی داخلی
         </h2>
         <p>
          چندین عنصر کلیدی برای طراحی داخلی تجاری موفق ضروری هستند. اینها شامل برنامه ریزی فضا، طراحی نور، انتخاب مواد، مبلمان و وسایل، رنگ و بافت، ادغام فناوری، و آکوستیک است.
         </p>
         <div class="service-details-list-wrap">
          <ul>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            ما خدمات طراحی با کیفیت بالا ارائه می دهیم.
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            پروژه به موقع و جدیدترین طراحی
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            مهارت های علمی برای گرفتن نتیجه بهتر
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            مزیت خدمات نوسازی
           </li>
          </ul>
          <ul>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            انعطاف پذیر با هر ساختاری از ساختمان
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            تعهد به خدمات مشتری
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            مهندسان با تجربه و با زمان خدمت
           </li>
           <li>
            <i class="fa-sharp fa-solid fa-circle-check">
            </i>
            ما در مورد پروژه های خود مطمئن هستیم.
           </li>
          </ul>
         </div>
         <p class="mb-50">
          طراحی داخلی تجاری یک زمینه پویا و چندوجهی است که نقش مهمی در موفقیت کسب و کارها در طیف وسیعی از صنایع ایفا می کند. با ترکیب خلاقیت با عملی بودن، طراحی داخلی تجاری
         </p>
         <div class="service-faq">
          <h3 class="faq-title">
           سوالات متداول
          </h3>
          <div class="faq-accordion fade-wrapper">
           <div class="accordion" id="accordionExample">
            <div class="accordion-item fade-top">
             <h2 class="accordion-header" id="headingOne">
              <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
               چه خدمات طراحی داخلی ارائه می دهید؟
              </button>
             </h2>
             <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
              <div class="accordion-body">
               خدمات طراحی داخلی ما هر آنچه را که برای ایجاد فضایی خیره کننده و کاربردی نیاز دارید را پوشش می دهد. از توسعه مفهوم اولیه و برنامه ریزی فضا گرفته تا انتخاب طرح های رنگی، مبلمان و طرح های سفارشی، ما دیدگاه شما را زنده می کنیم.
              </div>
             </div>
            </div>
            <div class="accordion-item fade-top">
             <h2 class="accordion-header" id="headingTwo">
              <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
               چه خدماتی ارائه می دهید؟
              </button>
             </h2>
             <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
              <div class="accordion-body">
               خدمات طراحی داخلی ما هر آنچه را که برای ایجاد فضایی خیره کننده و کاربردی نیاز دارید را پوشش می دهد. از توسعه مفهوم اولیه و برنامه ریزی فضا گرفته تا انتخاب طرح های رنگی، مبلمان و طرح های سفارشی، ما دیدگاه شما را زنده می کنیم.
              </div>
             </div>
            </div>
            <div class="accordion-item fade-top">
             <h2 class="accordion-header" id="headingThree">
              <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
               روند طراحی شما چیست؟
              </button>
             </h2>
             <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
              <div class="accordion-body">
               خدمات طراحی داخلی ما هر آنچه را که برای ایجاد فضایی خیره کننده و کاربردی نیاز دارید را پوشش می دهد. از توسعه مفهوم اولیه و برنامه ریزی فضا گرفته تا انتخاب طرح های رنگی، مبلمان و طرح های سفارشی، ما دیدگاه شما را زنده می کنیم.
              </div>
             </div>
            </div>
            <div class="accordion-item fade-top">
             <h2 class="accordion-header" id="headingFour">
              <button aria-controls="collapseFour" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseFour" data-bs-toggle="collapse" type="button">
               آیا می توانم طراحی سفارشی ایجاد کنم؟
              </button>
             </h2>
             <div aria-labelledby="headingFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseFour">
              <div class="accordion-body">
               خدمات طراحی داخلی ما هر آنچه را که برای ایجاد فضایی خیره کننده و کاربردی نیاز دارید را پوشش می دهد. از توسعه مفهوم اولیه و برنامه ریزی فضا گرفته تا انتخاب طرح های رنگی، مبلمان و طرح های سفارشی، ما دیدگاه شما را زنده می کنیم.
              </div>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ service-section -->

   </div>
  </div>
{% endblock content %}