{% load i18n %}{% autoescape off %}
{% blocktranslate %}شما این ایمیل را دریافت کرده‌اید چون برای حساب کاربری‌تان درخواست بازنشانی رمز عبور داده شده است.{% endblocktranslate %}

{% translate "لطفاً برای انتخاب رمز عبور جدید روی لینک زیر کلیک کنید:" %}
{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}

{% translate "نام کاربری شما (در صورت فراموشی):" %} {{ user.get_username }}

{% translate "اگر شما این درخواست را نداده‌اید، این ایمیل را نادیده بگیرید." %}

{% translate "تیم پشتیبانی" %}
{% endautoescape %}