{% extends 'dashboard/base.html' %}
{% load static %}

{% block sidebar_nav %}

<a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'dashboard:admin:home' %}">
    <i class="fa-regular fa-grid-2"></i>
    داشبورد
</a>


<div class="dash-nav-group-title">فروشگاه</div>
<a class="{% if 'product' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:product-list' %}">
    <i class="fa-regular fa-box"></i>
    محصولات
</a>
<a class="{% if 'category' in request.resolver_match.url_name and 'blog' not in request.path %}active{% endif %}"
   href="{% url 'dashboard:admin:category-list' %}">
    <i class="fa-regular fa-tags"></i>
    دسته‌بندی‌ها
</a>
<a class="{% if request.resolver_match.url_name == 'tag-list' or 'tag-' in request.resolver_match.url_name and 'blog' not in request.path %}active{% endif %}"
   href="{% url 'dashboard:admin:tag-list' %}">
    <i class="fa-regular fa-tag"></i>
    برچسب‌ها
</a>


<div class="dash-nav-group-title">وبلاگ‌ها</div>
<a class="{% if request.resolver_match.url_name == 'blog-list' %}active{% endif %}"
   href="{% url 'dashboard:admin:blog-list' %}">
    <i class="fa-regular fa-newspaper"></i>
    مقالات وبلاگ
</a>
<a class="{% if request.resolver_match.url_name == 'blog-category-list' or 'blog-category' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:blog-category-list' %}">
    <i class="fa-regular fa-folder-open"></i>
    دسته‌بندی وبلاگ
</a>
<a class="{% if request.resolver_match.url_name == 'blog-tag-list' or 'blog-tag' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:blog-tag-list' %}">
    <i class="fa-regular fa-tags"></i>
    برچسب وبلاگ
</a>
<a class="{% if 'comment' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:comment-list' %}">
    <i class="fa-regular fa-comments"></i>
    نظرات
</a>

<div class="dash-nav-group-title">درباره ما</div>
<a class="{% if 'history' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'dashboard:admin:history-list' %}">
    <i class="fa-regular fa-clock-rotate-left"></i>
    سابقه شرکت
</a>
<a class="{% if 'process' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'dashboard:admin:process-list' %}">
    <i class="fa-regular fa-diagram-next"></i>
    مراحل کاری
</a>
<a class="{% if 'award' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'dashboard:admin:award-list' %}">
    <i class="fa-regular fa-trophy"></i>
    جوایز و دستاوردها
</a>
<a class="{% if 'newsletter' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'dashboard:admin:newsletter-list' %}">
    <i class="fa-regular fa-paper-plane"></i>
    مشترکین خبرنامه
</a>

<div class="dash-nav-group-title">پروژه‌ها</div>
<a class="{% if request.resolver_match.url_name == 'project-list' or request.resolver_match.url_name == 'project-create' or request.resolver_match.url_name == 'project-update' %}active{% endif %}"
   href="{% url 'dashboard:admin:project-list' %}">
    <i class="fa-regular fa-diagram-project"></i>
    لیست پروژه‌ها
</a>
<a class="{% if 'project-category' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:project-category-list' %}">
    <i class="fa-regular fa-folder-open"></i>
    دسته‌بندی پروژه‌ها
</a>


<div class="dash-nav-group-title">خدمات</div>
<a class="{% if 'service' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:service-list' %}">
    <i class="fa-regular fa-briefcase"></i>
    لیست خدمات
</a>

<div class="dash-nav-group-title">سفارش‌ها</div>
<a class="{% if 'order' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:order-list' %}">
    <i class="fa-regular fa-receipt"></i>
    سفارش‌ها
</a>


<div class="dash-nav-group-title">تیم</div>
<a class="{% if 'team' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:team-list' %}">
    <i class="fa-regular fa-users"></i>
    اعضای تیم
</a>

<div class="dash-nav-group-title">گالری</div>
<a class="{% if 'gallery' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:gallery-list' %}">
    <i class="fa-regular fa-images"></i>
    گالری صفحه اصلی
</a>

<div class="dash-nav-group-title">ارتباطات</div>
<a class="{% if 'message' in request.resolver_match.url_name %}active{% endif %}"
   href="{% url 'dashboard:admin:message-list' %}">
    <i class="fa-regular fa-envelope"></i>
    پیام‌های تماس
    {% if unread_messages_count %}<span class="badge-count">{{ unread_messages_count }}</span>{% endif %}
</a>


{% endblock %}