{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        جزئیات پروژه
       </h1>
       <h4 class="sub-title">
        <a class="home" href="service.html">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="project-detail.html">
         جزئیات پروژه
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="portfolio-details pt-130 pb-130">
     <div class="container container-2">
      <div class="project-details-wrap">
       <h1 class="details-title">
        آپارتمان شیک خانوادگی
       </h1>
       <div class="project-details-meta">
        <div class="details-meta">
         <span>
          معمار:
         </span>
         <h5>
          دیوید اسوالد
         </h5>
        </div>
        <div class="details-meta">
         <span>
          نوع پروژه:
         </span>
         <h5>
          طراحی داخلی
         </h5>
        </div>
        <div class="details-meta">
         <span>
          مشتری:
         </span>
         <h5>
          astraThemes
         </h5>
        </div>
        <div class="details-meta">
         <span>
          شرایط:
         </span>
         <h5>
          6 ماه
         </h5>
        </div>
        <div class="details-meta">
         <span>
          استراتژی:
         </span>
         <h5>
          مینیمالیست
         </h5>
        </div>
        <div class="details-meta">
         <span>
          تاریخ:
         </span>
         <h5>
          11 خرداد 1405
         </h5>
        </div>
       </div>
       <div class="project-details-img">
        <img alt="img" src="{% static 'img/project/project-details-img-1.png' %}"/>
       </div>
       <h2 class="details-title-2">
        طراحی با جزئیات
       </h2>
       <p>
        با توجه به نیازهای فیزیکی، ذهنی و عاطفی افراد، طراحان داخلی از رویکردهای انسان محور برای پرداختن به نحوه زندگی امروز ما استفاده می کنند. با ایجاد رویکردهای جدید برای ارتقای سلامت، ایمنی و رفاه، فضاهای داخلی معاصر به طور فزاینده ای از بیوفیلی به عنوان رویکردی جامع برای ارتقای سلامت، ایمنی و رفاه الهام می گیرند، فضاهای داخلی معاصر به طور فزاینده ای از بیوفیلی به عنوان رویکردی جامع برای طراحی الهام می گیرند. طبق تعریف، طراحی داخلی جنبه های متنوعی از محیط ما را در بر می گیرد. این رشته به مصالح ساختمانی و تکمیل می‌شود. مورد، مبلمان.
       </p>
       <div class="project-details-list">
        <ul>
         <li>
          <i class="fa-sharp fa-solid fa-circle-check">
          </i>
          <strong>
           فضاهای زندگی باز:
          </strong>
          ایجاد مناطق نشیمن با پلان باز برای افزایش جریان و ارتباط بین فضاهای داخلی و خارجی.
         </li>
         <li>
          <i class="fa-sharp fa-solid fa-circle-check">
          </i>
          <strong>
           مواد طبیعی
          </strong>
          استفاده از چوب، سنگ و الیاف طبیعی احیا شده برای ایجاد حس هماهنگی با محیط اطراف.
         </li>
         <li>
          <i class="fa-sharp fa-solid fa-circle-check">
          </i>
          <strong>
           پنجره های بزرگ:
          </strong>
          نصب پنجره های از کف تا سقف برای به حداکثر رساندن نور طبیعی و ایجاد منظره اقیانوس بدون مانع.
         </li>
        </ul>
        <ul>
         <li>
          <i class="fa-sharp fa-solid fa-circle-check">
          </i>
          <strong>
           زندگی در فضای باز:
          </strong>
          طراحی مناطق وسیع در فضای باز، از جمله عرشه، استخر، و باغ، برای استراحت و سرگرمی.
         </li>
         <li>
          <i class="fa-sharp fa-solid fa-circle-check">
          </i>
          <strong>
           امکانات مدرن:
          </strong>
          دارای مدرن ترین لوازم آشپزخانه، فناوری خانه هوشمند، و وسایل حمام مجلل.
         </li>
        </ul>
       </div>
       <div class="project-details-items">
        <div class="project-details-item text-center">
         <h3 class="title">
          30 متر مربع
         </h3>
         <span>
          اتاق خواب
         </span>
        </div>
        <div class="project-details-item text-center">
         <h3 class="title">
          22 متر مربع
         </h3>
         <span>
          حمام
         </span>
        </div>
        <div class="project-details-item text-center">
         <h3 class="title">
          28 متر مربع
         </h3>
         <span>
          فضای کار
         </span>
        </div>
        <div class="project-details-item text-center">
         <h3 class="title">
          15 متر مربع
         </h3>
         <span>
          منطقه آشپزخانه
         </span>
        </div>
       </div>
       <h3 class="details-title-2">
        نتیجه باور نکردنی
       </h3>
       <p>
        با ایجاد تجربیات چندحسی، می‌توانیم فضای داخلی را طراحی کنیم که در سنین و جمعیت‌شناسی طنین‌انداز باشد. این اتاق ها و فضاها ما را به طبیعت به عنوان راهی ثابت شده برای الهام بخشیدن به ما، افزایش بهره وری و ایجاد رفاه بیشتر متصل می کند. گذشته از این مزایا، با کاهش استرس و افزایش خلاقیت، می‌توانیم درمان را نیز تسریع کنیم. در شهرهای شهرنشینی ما، بیوفیلیا از رویکردی انسان‌گرایانه‌تر برای طراحی حمایت می‌کند. نتیجه فضای داخلی بیوفیلیک است که نحوه زندگی، کار و یادگیری ما را با طبیعت جشن می گیرد. این اصطلاح در یونانی باستان به «عشق به موجودات زنده» ترجمه می‌شود (فیلیا = عشق به / تمایل به) و توسط روانکاو آمریکایی آلمانی الاصل اریش فروم در آناتومی ویرانگر انسانی (1973) استفاده شد.
       </p>
      </div>
     </div>
    </section>

   </div>
  </div>
{% endblock content %}