{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        وبلاگ
       </h1>
       <h4 class="sub-title">
        <a class="home" href="service.html">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="blog-grid.html">
         وبلاگ
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="blog-section pt-130 pb-130 fade-wrapper">
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-8 col-md-6">
        <div class="post-card inner-post">
         <div class="post-thumb">
          <img alt="پست" src="{% static 'img/blog/post-inner-1.png' %}"/>
         </div>
         <div class="post-content">
          <ul class="post-meta">
           <li class="category">
            بیرونی
           </li>
           <li>
            25 خرداد 1405
           </li>
           <li>
            توسط
            <span>
             مدیر
            </span>
           </li>
          </ul>
          <h3 class="title">
           <a href="blog-details.html">
            خانه خود را با نکات طراحی داخلی مدرن متحول کنید
           </a>
          </h3>
          <p>
           طراحی داخلی مدرن همه چیز در مورد ایجاد فضایی براق، کاربردی و از نظر زیبایی شناسی دلپذیر است که زندگی معاصر را منعکس می کند. چه در حال به روز رسانی یک اتاق یک نفره یا طراحی مجدد کل خانه خود باشید، ترکیب اصول طراحی داخلی مدرن می تواند تازگی را به ارمغان بیاورد.
          </p>
          <a class="read-more" href="blog-details.html">
           ادامه مطلب
          </a>
         </div>
        </div>
        <div class="post-card-wrap post-card-wrap-inner">
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog/post-6.png' %}"/>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li class="category">
             بیرونی
            </li>
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             فضای مینیمالیستی خود را با راه حل های هوشمند به حداکثر برسانید
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
           <a class="read-more" href="blog-details.html">
            ادامه مطلب
           </a>
          </div>
         </div>
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog/post-5.png' %}"/>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li class="category">
             بیرونی
            </li>
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             بازتعریف کامل فضاهای داخلی برای سبک زندگی مدرن
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
           <a class="read-more" href="blog-details.html">
            ادامه مطلب
           </a>
          </div>
         </div>
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog/post-4.png' %}"/>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li class="category">
             بیرونی
            </li>
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             مواد مدرنی که عملکرد خانه شما را بالا می برند
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
           <a class="read-more" href="blog-details.html">
            ادامه مطلب
           </a>
          </div>
         </div>
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog/post-3.png' %}"/>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li class="category">
             بیرونی
            </li>
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             اتاق های مدرن فضاهای زیبا برای آرامش ایجاد می کنند
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
           <a class="read-more" href="blog-details.html">
            ادامه مطلب
           </a>
          </div>
         </div>
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog/post-2.png' %}"/>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li class="category">
             بیرونی
            </li>
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             زندگی لوکس و زیبا برای خانه مدرن
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
           <a class="read-more" href="blog-details.html">
            ادامه مطلب
           </a>
          </div>
         </div>
        </div>
        <ul class="pagination-wrap mt-100 justify-content-center">
         <li>
          <a href="#">
           1
          </a>
         </li>
         <li>
          <a class="active" href="#">
           2
          </a>
         </li>
         <li>
          <a href="#">
           3
          </a>
         </li>
         <li>
          <a href="#">
           <i class="fa-regular fa-arrow-right">
           </i>
          </a>
         </li>
        </ul>
       </div>
       <!-- Sidebar Widgets -->
       <div class="col-lg-4">
        <div class="sidebar-widget">
         <h3 class="widget-title">
          جستجو کنید
         </h3>
         <div class="search-box">
          <form action="contact.php" class="search-form">
           <input class="form-control" placeholder="جستجو کنید" type="text"/>
           <button class="search-btn" type="button">
            <i class="fa-regular fa-magnifying-glass">
            </i>
           </button>
          </form>
         </div>
        </div>
        <div class="sidebar-widget">
         <h3 class="widget-title">
          دسته بندی ها
         </h3>
         <ul class="category-list">
          <li>
           <a href="#">
            لوازم جانبی
           </a>
          </li>
          <li>
           <a href="#">
            برق و روشنایی
           </a>
          </li>
          <li>
           <a href="#">
            لوازم خانگی
           </a>
          </li>
          <li>
           <a href="#">
            ابزار قدرت
           </a>
          </li>
          <li>
           <a href="#">
            دسته بندی نشده
           </a>
          </li>
          <li>
           <a href="#">
            لوازم جانبی ظروف
           </a>
          </li>
         </ul>
        </div>
        <div class="sidebar-widget">
         <h3 class="widget-title">
          پست اخیر
         </h3>
         <div class="sidebar-post">
          <img alt="پست" src="{% static 'img/blog/sidebar-post-1.png' %}"/>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             10 خرداد 1405
            </li>
           </ul>
           <h3 class="title">
            <a href="#">
             فضای مینیمالیستی خود را با راه حل های هوشمند به حداکثر برسانید
            </a>
           </h3>
          </div>
         </div>
         <div class="sidebar-post">
          <img alt="پست" src="{% static 'img/blog/sidebar-post-2.png' %}"/>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             10 خرداد 1405
            </li>
           </ul>
           <h3 class="title">
            <a href="#">
             بررسی روندها و تکنیک های طراحی داخلی
            </a>
           </h3>
          </div>
         </div>
         <div class="sidebar-post">
          <img alt="پست" src="{% static 'img/blog/sidebar-post-3.png' %}"/>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             10 خرداد 1405
            </li>
           </ul>
           <h3 class="title">
            <a href="#">
             دستور کار زیبایی شناسی: تعریف مجدد ظرافت داخلی
            </a>
           </h3>
          </div>
         </div>
         <div class="sidebar-post">
          <img alt="پست" src="{% static 'img/blog/sidebar-post-4.png' %}"/>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             10 خرداد 1405
            </li>
           </ul>
           <h3 class="title">
            <a href="#">
             تبدیل فضاها به خانه های رویایی
            </a>
           </h3>
          </div>
         </div>
        </div>
        <div class="sidebar-widget sticky-widget">
         <h3 class="widget-title">
          برچسب ها
         </h3>
         <ul class="tags">
          <li>
           <a href="#">
            معماری
           </a>
          </li>
          <li>
           <a href="#">
            ساخت و ساز
           </a>
          </li>
          <li>
           <a href="#">
            مبلمان
           </a>
          </li>
          <li>
           <a href="#">
            طراحی
           </a>
          </li>
          <li>
           <a href="#">
            داخلی
           </a>
          </li>
          <li>
           <a href="#">
            آشپزخانه
           </a>
          </li>
          <li>
           <a href="#">
            اتاق نشیمن
           </a>
          </li>
          <li>
           <a href="#">
            ساختمان
           </a>
          </li>
          <li>
           <a href="#">
            برنامه ریزی
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ blog-section -->

   </div>
  </div>
{% endblock content %}