{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        وبلاگ
       </h1>
       <h4 class="sub-title">
        <a class="home" href="{% url 'index:index' %}">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="{% url 'blog:blog-list' %}">
         وبلاگ
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="blog-section pt-130 pb-130 fade-wrapper">
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-8 col-md-6">

        {% if query %}
         <p class="mb-4">نتایج جستجو برای: «{{ query }}»</p>
        {% endif %}

        {% if blogs %}

         {% for blog in blogs %}

          {% if forloop.first and not query %}
           <!-- پست ویژه (اولین پست، فقط در حالت بدون جستجو) -->
           <div class="post-card inner-post">
            <div class="post-thumb">
             <a href="{% url 'blog:blog-detail' blog.slug %}">
              <img alt="{{ blog.title }}" src="{{ blog.image.url }}"/>
             </a>
            </div>
            <div class="post-content">
             <ul class="post-meta">
              {% if blog.category %}
               <li class="category">
                {{ blog.category.title }}
               </li>
              {% endif %}
              <li>
               {{ blog.created_date|date:"d/m/Y" }}
              </li>
              <li>
               توسط
               <span>
                مدیر
               </span>
              </li>
             </ul>
             <h3 class="title">
              <a href="{% url 'blog:blog-detail' blog.slug %}">
               {{ blog.title }}
              </a>
             </h3>
             <p>
              {{ blog.short_description }}
             </p>
             <a class="read-more" href="{% url 'blog:blog-detail' blog.slug %}">
              ادامه مطلب
             </a>
            </div>
           </div>
          {% endif %}

         {% endfor %}

         <!-- بقیه پست‌ها در قالب گرید -->
         <div class="post-card-wrap post-card-wrap-inner">
          {% for blog in blogs %}
           {% if not forloop.first or query %}
            <div class="post-card">
             <div class="post-thumb">
              <a href="{% url 'blog:blog-detail' blog.slug %}">
               <img alt="{{ blog.title }}" src="{{ blog.image.url }}"/>
              </a>
             </div>
             <div class="post-content">
              <ul class="post-meta">
               {% if blog.category %}
                <li class="category">
                 {{ blog.category.title }}
                </li>
               {% endif %}
               <li>
                {{ blog.created_date|date:"d/m/Y" }}
               </li>
               <li>
                توسط
                <span>
                 مدیر
                </span>
               </li>
              </ul>
              <h3 class="title">
               <a href="{% url 'blog:blog-detail' blog.slug %}">
                {{ blog.title }}
               </a>
              </h3>
              <p>
               {{ blog.short_description|truncatewords:20 }}
              </p>
              <a class="read-more" href="{% url 'blog:blog-detail' blog.slug %}">
               ادامه مطلب
              </a>
             </div>
            </div>
           {% endif %}
          {% endfor %}
         </div>

        {% else %}
         <p>هیچ مقاله‌ای یافت نشد.</p>
        {% endif %}

        <!-- صفحه‌بندی -->
        {% if is_paginated %}
         <ul class="pagination-wrap mt-100 justify-content-center">

          {% if page_obj.has_previous %}
           <li>
            <a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">
             <i class="fa-regular fa-arrow-left"></i>
            </a>
           </li>
          {% endif %}

          {% for num in paginator.page_range %}
           <li>
            <a class="{% if num == page_obj.number %}active{% endif %}"
               href="?{% if query %}q={{ query }}&{% endif %}page={{ num }}">
             {{ num }}
            </a>
           </li>
          {% endfor %}

          {% if page_obj.has_next %}
           <li>
            <a href="?{% if query %}q={{ query }}&{% endif %}page={{ page_obj.next_page_number }}">
             <i class="fa-regular fa-arrow-right"></i>
            </a>
           </li>
          {% endif %}

         </ul>
        {% endif %}

       </div>
       <!-- Sidebar Widgets -->
       <div class="col-lg-4">
        <div class="sidebar-widget">
         <h3 class="widget-title">
          جستجو کنید
         </h3>
         <div class="search-box">
          <form action="{% url 'blog:blog-list' %}" class="search-form" method="get">
           <input class="form-control" name="q" value="{{ query }}" placeholder="جستجو کنید" type="text"/>
           <button class="search-btn" type="submit">
            <i class="fa-regular fa-magnifying-glass">
            </i>
           </button>
          </form>
         </div>
        </div>
        <div class="sidebar-widget">
         <h3 class="widget-title">
          دسته بندی ها
         </h3>
         <ul class="category-list">
          {% for category in categories %}
           <li>
            <a href="{% url 'blog:blog-list' %}?category={{ category.id }}">
             {{ category.title }}
            </a>
           </li>
          {% empty %}
           <li>
            <a href="#">
             دسته بندی نشده
            </a>
           </li>
          {% endfor %}
         </ul>
        </div>
        <div class="sidebar-widget">
         <h3 class="widget-title">
          پست اخیر
         </h3>
         {% for post in recent_posts %}
          <div class="sidebar-post">
           <img alt="{{ post.title }}" src="{{ post.image.url }}"/>
           <div class="post-content">
            <ul class="post-meta">
             <li>
              {{ post.created_date|date:"d/m/Y" }}
             </li>
            </ul>
            <h3 class="title">
             <a href="{% url 'blog:blog-detail' post.slug %}">
              {{ post.title }}
             </a>
            </h3>
           </div>
          </div>
         {% endfor %}
        </div>
        <div class="sidebar-widget sticky-widget">
         <h3 class="widget-title">
          برچسب ها
         </h3>
         <ul class="tags">
          <li>
           <a href="#">
            معماری
           </a>
          </li>
          <li>
           <a href="#">
            ساخت و ساز
           </a>
          </li>
          <li>
           <a href="#">
            مبلمان
           </a>
          </li>
          <li>
           <a href="#">
            طراحی
           </a>
          </li>
          <li>
           <a href="#">
            داخلی
           </a>
          </li>
          <li>
           <a href="#">
            آشپزخانه
           </a>
          </li>
          <li>
           <a href="#">
            اتاق نشیمن
           </a>
          </li>
          <li>
           <a href="#">
            ساختمان
           </a>
          </li>
          <li>
           <a href="#">
            برنامه ریزی
           </a>
          </li>
         </ul>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ blog-section -->

   </div>
  </div>
{% endblock content %}