{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        گالری
       </h1>
       <h4 class="sub-title">
        <a class="home" href="index.html">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="gallary-2.html">
         سعادت حمام
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="shop-grid pt-100 pb-100">
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-3 col-md-12">
        <div class="shop-sidebar">
         <h3 class="sidebar-header">
          جستجو کنید
         </h3>
         <form action="contact.php" class="search-form">
          <input class="form-control" placeholder="جستجو..." type="text"/>
          <button class="search-btn" type="button">
           <i class="fa-regular fa-magnifying-glass">
           </i>
          </button>
         </form>
        </div>
        <div class="shop-sidebar">
         <h3 class="sidebar-header">
          دسته بندی ها
         </h3>
         <ul class="sidebar-list">
          <li>
           <input id="vehicle1" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle1">
            نیمکت (4)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle3" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle3">
            قفسه کتاب (4)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle4" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle4">
            میز ناهار خوری (1)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle5" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle5">
            میز آرایش (12)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle6" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle6">
            پوشاک و پوشاک (2)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle7" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle7">
            مبلمان (3)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle8" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle8">
            صندلی اداری (3)
           </label>
           <br/>
          </li>
          <li>
           <input id="vehicle9" name="vehicle1" type="checkbox" value="دوچرخه"/>
           <label for="vehicle9">
            دسته بندی نشده (5)
           </label>
           <br/>
          </li>
         </ul>
        </div>
        <div class="shop-sidebar">
         <h3 class="sidebar-header">
          فیلتر بر اساس قیمت
         </h3>
         <div class="filter-box">
          <div class="range-slider">
           <input id="price-range" max="500" min="20" type="range" value="300"/>
           <div class="slider-line">
           </div>
           <div class="range-slider-output">
            <h3 class="price">
             قیمت: 10 تا 90 دلار
            </h3>
            <h3 class="price" id="price-output">

             <span>
              500
             </span>
            </h3>
           </div>
          </div>
         </div>
        </div>
        <div class="shop-sidebar sticky-widget">
         <h3 class="sidebar-header">
          برندها
         </h3>
         <div class="sidebar-items">
          <div class="sidebar-item">
           <div class="item-img">
            <img alt="img" src="{% static 'img/shop/sidebar-img-1.png' %}"/>
           </div>
           <div class="content">
            <h4 class="title">
             ساختار چوبی بادوام
            </h4>
            <ul class="review">
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span class="price">
             550
            </span>
           </div>
          </div>
          <div class="sidebar-item">
           <div class="item-img">
            <img alt="img" src="{% static 'img/shop/sidebar-img-2.png' %}"/>
           </div>
           <div class="content">
            <h4 class="title">
             گلدان طرح آرابسک
            </h4>
            <ul class="review">
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span class="price">
             550
            </span>
           </div>
          </div>
          <div class="sidebar-item">
           <div class="item-img">
            <img alt="img" src="{% static 'img/shop/sidebar-img-3.png' %}"/>
           </div>
           <div class="content">
            <h4 class="title">
             میز قهوه Ocean Blue
            </h4>
            <ul class="review">
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span class="price">
             550
            </span>
           </div>
          </div>
          <div class="sidebar-item">
           <div class="item-img">
            <img alt="img" src="{% static 'img/shop/sidebar-img-4.png' %}"/>
           </div>
           <div class="content">
            <h4 class="title">
             نقاشی بوم قاب شده
            </h4>
            <ul class="review">
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span class="price">
             550
            </span>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-9 col-md-12">
        <div class="shop-grid-left">
         <div class="top-grid-content">
          <div class="shop-tab-nav">
           <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
             <button aria-controls="nav-home" aria-selected="true" class="nav-link active" data-bs-target="#nav-home" data-bs-toggle="tab" id="nav-home-tab" role="tab" type="button">
              <svg height="17" viewbox="0 0 20 17" width="20" xmlns="http://www.w3.org/2000/svg">
               <rect fill="currentColor" height="3" width="5" x="15">
               </rect>
               <rect fill="currentColor" height="3" width="5" x="15" y="7">
               </rect>
               <rect fill="currentColor" height="3" width="5" x="15" y="14">
               </rect>
               <rect fill="currentColor" height="3" width="5" x="7.71875">
               </rect>
               <rect fill="currentColor" height="3" width="5" x="7.71875" y="7">
               </rect>
               <rect fill="currentColor" height="3" width="5" x="7.71875" y="14">
               </rect>
               <rect fill="currentColor" height="3" width="5">
               </rect>
               <rect fill="currentColor" height="3" width="5" y="7">
               </rect>
               <rect fill="currentColor" height="3" width="5" y="14">
               </rect>
              </svg>
             </button>
             <button aria-controls="nav-profile" aria-selected="false" class="nav-link" data-bs-target="#nav-profile" data-bs-toggle="tab" id="nav-profile-tab" role="tab" type="button">
              <svg height="17" viewbox="0 0 20 17" width="20" xmlns="http://www.w3.org/2000/svg">
               <rect fill="currentColor" height="3" width="14.2857" x="5.71875">
               </rect>
               <rect fill="currentColor" height="3" width="14.2857" x="5.71875" y="7">
               </rect>
               <rect fill="currentColor" height="3" width="14.2857" x="5.71875" y="14">
               </rect>
               <rect fill="currentColor" height="3" width="3.80952">
               </rect>
               <rect fill="currentColor" height="3" width="3.80952" y="7">
               </rect>
               <rect fill="currentColor" height="3" width="3.80952" y="14">
               </rect>
              </svg>
             </button>
            </div>
           </nav>
           <span>
            نمایش 1-12 از 88 نتیجه
           </span>
          </div>
          <div class="nice-select shop-select country" tabindex="0">
           <span class="current">
            کوتاه کردن پیش فرض
           </span>
           <ul class="list">
            <li class="option selected focus" data-value="">
             کوتاه کردن پیش فرض
            </li>
            <li class="option" data-value="vdt">
             محبوب ترین
            </li>
            <li class="option" data-value="can">
             تاریخ
            </li>
            <li class="option" data-value="uk">
             تجارت
            </li>
            <li class="option" data-value="dk">
             برجسته
            </li>
            <li class="option" data-value="dl">
             با تخفیف
            </li>
           </ul>
          </div>
         </div>
         <div class="tab-content" id="nav-tabContent">
          <div aria-labelledby="nav-home-tab" class="tab-pane fade show active" id="nav-home" role="tabpanel">
           <div class="row gy-4">
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-1.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-2.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-3.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-4.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-5.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-6.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-7.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-8.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-md-6">
             <div class="shop-item">
              <div class="shop-thumb">
               <div class="overlay">
               </div>
               <img alt="فروشگاه" src="{% static 'img/shop/shop-9.png' %}"/>
               <ul class="shop-list">
                <li>
                 <a href="#">
                  <i class="fa-regular fa-cart-shopping">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-heart">
                  </i>
                 </a>
                </li>
                <li>
                 <a href="#">
                  <i class="fa-light fa-eye">
                  </i>
                 </a>
                </li>
               </ul>
              </div>
              <div class="shop-content">
               <h3 class="title">
                <a href="shop-details.html">
                 مبل مدرن پارچه کاراملی
                </a>
               </h3>
               <div class="review-wrap">
                <ul class="review">
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                 <li>
                  <i class="fa-solid fa-star">
                  </i>
                 </li>
                </ul>
               </div>
               <span class="price">
                1570
               </span>
              </div>
             </div>
            </div>
           </div>
          </div>
          <div aria-labelledby="nav-profile-tab" class="tab-pane fade" id="nav-profile" role="tabpanel">
           <div class="grid-shop-items">
            <div class="shop-item grid-shop">
             <div class="shop-thumb">
              <div class="overlay">
              </div>
              <img alt="فروشگاه" src="{% static 'img/shop/shop-1.png' %}"/>
              <span class="sale">
               جدید
              </span>
              <ul class="shop-list">
               <li>
                <a href="#">
                 <i class="fa-regular fa-cart-shopping">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-heart">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-eye">
                 </i>
                </a>
               </li>
              </ul>
             </div>
             <div class="shop-content">
              <h3 class="title">
               <a href="shop-details.html">
                مبل مدرن پارچه کاراملی
               </a>
              </h3>
              <div class="review-wrap">
               <ul class="review">
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
               </ul>
              </div>
              <span class="price">
               1570
              </span>
             </div>
            </div>
            <div class="shop-item grid-shop">
             <div class="shop-thumb">
              <div class="overlay">
              </div>
              <img alt="فروشگاه" src="{% static 'img/shop/shop-2.png' %}"/>
              <span class="sale">
               جدید
              </span>
              <ul class="shop-list">
               <li>
                <a href="#">
                 <i class="fa-regular fa-cart-shopping">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-heart">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-eye">
                 </i>
                </a>
               </li>
              </ul>
             </div>
             <div class="shop-content">
              <h3 class="title">
               <a href="shop-details.html">
                مبل مدرن پارچه کاراملی
               </a>
              </h3>
              <div class="review-wrap">
               <ul class="review">
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
               </ul>
              </div>
              <span class="price">
               1570
              </span>
             </div>
            </div>
            <div class="shop-item grid-shop">
             <div class="shop-thumb">
              <div class="overlay">
              </div>
              <img alt="فروشگاه" src="{% static 'img/shop/shop-3.png' %}"/>
              <span class="sale">
               جدید
              </span>
              <ul class="shop-list">
               <li>
                <a href="#">
                 <i class="fa-regular fa-cart-shopping">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-heart">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-eye">
                 </i>
                </a>
               </li>
              </ul>
             </div>
             <div class="shop-content">
              <h3 class="title">
               <a href="shop-details.html">
                مبل مدرن پارچه کاراملی
               </a>
              </h3>
              <div class="review-wrap">
               <ul class="review">
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
               </ul>
              </div>
              <span class="price">
               1570
              </span>
             </div>
            </div>
            <div class="shop-item grid-shop">
             <div class="shop-thumb">
              <div class="overlay">
              </div>
              <img alt="فروشگاه" src="{% static 'img/shop/shop-4.png' %}"/>
              <span class="sale">
               جدید
              </span>
              <ul class="shop-list">
               <li>
                <a href="#">
                 <i class="fa-regular fa-cart-shopping">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-heart">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-eye">
                 </i>
                </a>
               </li>
              </ul>
             </div>
             <div class="shop-content">
              <h3 class="title">
               <a href="shop-details.html">
                مبل مدرن پارچه کاراملی
               </a>
              </h3>
              <div class="review-wrap">
               <ul class="review">
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
               </ul>
              </div>
              <span class="price">
               1570
              </span>
             </div>
            </div>
            <div class="shop-item grid-shop">
             <div class="shop-thumb">
              <div class="overlay">
              </div>
              <img alt="فروشگاه" src="{% static 'img/shop/shop-1.png' %}"/>
              <span class="sale">
               جدید
              </span>
              <ul class="shop-list">
               <li>
                <a href="#">
                 <i class="fa-regular fa-cart-shopping">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-heart">
                 </i>
                </a>
               </li>
               <li>
                <a href="#">
                 <i class="fa-light fa-eye">
                 </i>
                </a>
               </li>
              </ul>
             </div>
             <div class="shop-content">
              <h3 class="title">
               <a href="shop-details.html">
                مبل مدرن پارچه کاراملی
               </a>
              </h3>
              <div class="review-wrap">
               <ul class="review">
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
                <li>
                 <i class="fa-solid fa-star">
                 </i>
                </li>
               </ul>
              </div>
              <span class="price">
               1570
              </span>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
        <ul class="pagination-wrap mt-50 justify-content-center">
         <li>
          <a href="#">
           1
          </a>
         </li>
         <li>
          <a class="active" href="#">
           2
          </a>
         </li>
         <li>
          <a href="#">
           3
          </a>
         </li>
         <li>
          <a href="#">
           <i class="fa-regular fa-arrow-right">
           </i>
          </a>
         </li>
        </ul>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ Shop Grid -->
   </div>
  </div>
{% endblock content %}