{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="slider-section overflow-hidden">
     <div class="antra-slider slider-2 slider-3 swiper-container">
      <div class="swiper-wrapper">
       <div class="swiper-slide">
        <div class="slider-item">
         <div class="bg-img" data-background="{% static 'img/bg-img/slider-img-3.png' %}">
         </div>
         <div class="container slider-container">
          <div class="slider-content-wrap">
           <div class="slider-content">
            <div class="section-heading white-content text-center mb-0">
             <h4 class="sub-heading" data-animation="antra-fadeInDown" data-delay="1000ms" data-duration="1400ms">
              شریک طراحی قابل اعتماد
             </h4>
             <h2 class="section-title" data-animation="antra-fadeInDown" data-delay="1200ms" data-duration="1400ms">
              سلیقه خود را پیدا کنید
              <br/>
              طراحی داخلی
             </h2>
             <div class="slider-desc" data-animation="antra-fadeInUp" data-delay="1000ms" data-duration="1400ms">
              <p>
               با طراحی های نوآورانه ما، دید خود را به واقعیت تبدیل کنید و فضاهای مدرنی را ایجاد کنید که عملکرد، زیبایی شناسی و پایداری را با هم ترکیب می کند.
              </p>
             </div>
             <div class="slider-btn mt-50" data-animation="antra-fadeInUp" data-delay="1200ms" data-duration="1600ms">
              <a href="contact.html">
               شروع کنید

              </a>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="swiper-slide">
        <div class="slider-item">
         <div class="bg-img" data-background="{% static 'img/bg-img/slider-img-2.png' %}">
         </div>
         <div class="container slider-container">
          <div class="slider-content-wrap">
           <div class="slider-content">
            <div class="section-heading white-content text-center mb-0">
             <h4 class="sub-heading" data-animation="antra-fadeInDown" data-delay="1000ms" data-duration="1400ms">
              شریک طراحی قابل اعتماد
             </h4>
             <h2 class="section-title" data-animation="antra-fadeInDown" data-delay="1200ms" data-duration="1400ms">
              سلیقه خود را پیدا کنید
              <br/>
              طراحی داخلی
             </h2>
             <div class="slider-desc" data-animation="antra-fadeInUp" data-delay="1000ms" data-duration="1400ms">
              <p>
               با طراحی های نوآورانه ما، دید خود را به واقعیت تبدیل کنید و فضاهای مدرنی را ایجاد کنید که عملکرد، زیبایی شناسی و پایداری را با هم ترکیب می کند.
              </p>
             </div>
             <div class="slider-btn mt-50" data-animation="antra-fadeInUp" data-delay="1200ms" data-duration="1600ms">
              <a href="contact.html">
               شروع کنید

              </a>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ slider-section -->
    <section class="about-section-3 pt-130 pb-130 overflow-hidden tl-bg-color">
     <div class="shape-1">
      <img alt="شکل" src="{% static 'img/shapes\about-shape-2.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-6">
        <div class="about-img-wrap-3 slide-anim" data-delay="0.3" data-direction="left" data-offset="100">
         <div class="about-img-1">
          <img alt="در مورد" src="{% static 'img/images\about-img-4.png' %}"/>
         </div>
         <div class="about-img-2">
          <img alt="در مورد" src="{% static 'img/images\about-img-5.png' %}"/>
         </div>
         <div class="about-counter">
          <h3 class="title">
           <span class="odometer" data-count="19">
            0
           </span>
          </h3>
          <p>
           سال
           <br/>
           تجربه
          </p>
         </div>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="about-content-3 slide-anim" data-delay="0.3" data-direction="right" data-offset="100">
         <div class="section-heading mb-0">
          <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
           از سال 1989
          </h4>
          <h2 class="section-title cursor-effect title-2">
           <span>
            فضای داخلی
           </span>
          </h2>
          <p>
           ما معتقدیم که هر فضایی قدرت الهام بخشی را دارد و طراحی عالی این الهام را زنده می کند. ماموریت ما ایجاد محیط هایی است که خلاقیت را برانگیزد، احساسات را برانگیزد و ماهیت افرادی را که در آنها زندگی می کنند منعکس کند.
          </p>
         </div>
         <div class="about-items">
          <div class="about-item">
           <h3 class="title">
            طراحی مسکونی
           </h3>
           <p>
            تیم ما متشکل از 30 متخصص تضمین می کند
            <br/>
            نتایج با کیفیت بالا
           </p>
          </div>
          <div class="about-item">
           <h3 class="title">
            راه حل های پایدار
           </h3>
           <p>
            تیم ما متشکل از 30 متخصص تضمین می کند
            <br/>
            نتایج با کیفیت بالا
           </p>
          </div>
         </div>
         <div class="about-btn">
          <a class="tl-primary-btn" href="about.html">
           اطلاعات بیشتر درباره ما
           <span class="icon">
            <i class="fa-regular fa-arrow-right">
            </i>
           </span>
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ about-section -->
    <section class="service-section-3 pt-130 pb-130 overflow-hidden">
     <div class="bg-img" data-background="{% static 'img/bg-img/service-bg-1.png' %}">
     </div>
     <div class="container container-2">
      <div class="row fade-wrapper">
       <div class="col-lg-5">
        <div class="service-left-content-3 white-content fade-top">
         <div class="section-heading white-content mb-30">
          <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
           خدمات ما
          </h4>
          <h2 class="section-title cursor-effect title-2">
            پروژه های جامع مارا ببینید
           <br/>
           <span>
            طراحی داخلی
           </span>
          </h2>
          <div class="desc mt-40 mb-50">
           <p>
            ما معتقدیم که هر فضایی قدرت الهام بخشی را دارد و طراحی عالی این الهام را زنده می کند. ماموریت ما ایجاد محیط هایی است که خلاقیت را برانگیزد، احساسات را برانگیزد و ماهیت افرادی را که در آنها زندگی می کنند منعکس کند.
           </p>
          </div>
         </div>
         <div class="service-btn">
          <a class="tl-primary-btn white-btn" href="service.html">
           کاوش همه خدمات
           <span class="icon">
            <i class="fa-regular fa-arrow-right">
            </i>
           </span>
          </a>
         </div>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="service-carousel-wrap-3 fade-top">
         <div class="service-carousel-3 swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="service-item-3">
             <div class="service-thumb">
              <img alt="خدمات" src="{% static 'img/service\service-img-1.png' %}"/>
              <span class="number">
               01
              </span>
             </div>
             <div class="service-content">
              <h5 class="title">
               <a href="service-details.html">
                طراحی داخلی مسکونی
               </a>
              </h5>
              <p>
               خدمات طراحی مناسب برای خانه های خصوصی، از جمله تغییر اتاق و دگرگونی کامل خانه.
              </p>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="service-item-3">
             <div class="service-thumb">
              <img alt="خدمات" src="{% static 'img/service\service-img-3.png' %}"/>
              <span class="number">
               02
              </span>
             </div>
             <div class="service-content">
              <h5 class="title">
               <a href="service-details.html">
                طراحی داخلی مسکونی
               </a>
              </h5>
              <p>
               خدمات طراحی مناسب برای خانه های خصوصی، از جمله تغییر اتاق و دگرگونی کامل خانه.
              </p>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="service-item-3">
             <div class="service-thumb">
              <img alt="خدمات" src="{% static 'img/service\service-img-2.png' %}"/>
              <span class="number">
               03
              </span>
             </div>
             <div class="service-content">
              <h5 class="title">
               <a href="service-details.html">
                طراحی داخلی مسکونی
               </a>
              </h5>
              <p>
               خدمات طراحی مناسب برای خانه های خصوصی، از جمله تغییر اتاق و دگرگونی کامل خانه.
              </p>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ service-section -->
    <section class="skill-section pt-130 pb-130 overflow-hidden fade-wrapper">
     <div class="skill-text">
      آنترا
     </div>
     <div class="shape-1">
      <img alt="شکل" src="{% static 'img/shapes\skill-shape-1.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row section-heading-wrap pl-0 mw-100 fade-top">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          مشتریان ما
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title cursor-effect title-2">
          کارشناس مورد اعتماد در
          <span>
           معماری
           <br/>
           طراحی
          </span>
          و نوآوری
         </h2>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-5">
        <div class="skill-left-content slide-anim" data-delay="0.3" data-direction="left" data-offset="100">
         <div class="skill-desc">
          <p>
           ما در تبدیل دیدگاه ها به واقعیت تخصص داریم. مجموعه پروژه های نوآورانه معماری و طراحی داخلی ما را که با دقت ساخته شده اند، کاوش کنید.
          </p>
         </div>
         <div class="skills-items">
          <div class="skills-item fade-top">
           <h4 class="title">
            طراحی داخلی
           </h4>
           <div class="progress">
            <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 85%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              85%
             </span>
             <div class="dot">
             </div>
            </div>
           </div>
          </div>
          <div class="skills-item fade-top">
           <h4 class="title">
            مدل سازی سه بعدی
           </h4>
           <div class="progress">
            <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 95%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              95%
             </span>
             <div class="dot">
             </div>
            </div>
           </div>
          </div>
          <div class="skills-item fade-top">
           <h4 class="title">
            برنامه ریزی دو بعدی
           </h4>
           <div class="progress">
            <div class="progress-bar wow slideInLeft" data-wow-delay="0ms" data-wow-duration="2000ms" role="progressbar" style="width: 65%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              65%
             </span>
             <div class="dot">
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-7">
        <div class="skill-img slide-anim" data-delay="0.3" data-direction="right" data-offset="100">
         <img alt="مهارت" src="{% static 'img/images\skill-img-1.png' %}"/>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ skill-section -->
    <section class="faq-section pt-130 pb-130 fade-wrapper tl-bg-color">
     <div class="container container-2">
      <div class="row section-heading-wrap ml-0 mw-100 fade-top">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          خدمات ما
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0 pl-0">
         <h2 class="section-title cursor-effect title-2">
          ما همه را انجام می دهیم
          <span>
           تجارت با
           <br/>
           بالاترین
          </span>
          استانداردها
         </h2>
         <p>
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
         </p>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-6">
        <div class="faq-img slide-anim" data-delay="0.5" data-direction="left" data-offset="100">
         <img alt="faq" src="{% static 'img/images\faq-img-1.png' %}"/>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="faq-content">
         <div class="faq-accordion fade-wrapper">
          <div class="accordion" id="accordionExample">
           <div class="accordion-item fade-top">
            <h2 class="accordion-header" id="headingOne">
             <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
              طراحی سه بعدی چیست و چگونه کار می کند؟
             </button>
            </h2>
            <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne" role="region">
             <div class="accordion-body">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
             </div>
            </div>
           </div>
           <div class="accordion-item fade-top">
            <h2 class="accordion-header" id="headingTwo">
             <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
              هزینه طراحی داخلی چقدر است؟
             </button>
            </h2>
            <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo" role="region">
             <div class="accordion-body">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
             </div>
            </div>
           </div>
           <div class="accordion-item fade-top">
            <h2 class="accordion-header" id="headingThree">
             <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
              چقدر برای برنامه ریزی وقت می گذارم؟
             </button>
            </h2>
            <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree" role="region">
             <div class="accordion-body">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
             </div>
            </div>
           </div>
           <div class="accordion-item fade-top">
            <h2 class="accordion-header" id="headingFour">
             <button aria-controls="collapseFour" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseFour" data-bs-toggle="collapse" type="button">
              آیا می توانم طراحی سفارشی ایجاد کنم؟
             </button>
            </h2>
            <div aria-labelledby="headingFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseFour" role="region">
             <div class="accordion-body">
              لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ faq-section -->
    <section class="banner-process-area overflow-hidden">
     <div class="service-carousel-wrap">
      <div class="banner-process-carousel">
       <div class="swiper-wrapper antra-swiper-wrapper">
        <div class="swiper-slide elementor-banner-process-item">
         <div class="banner-process-caption">
          <span class="number">
           01
          </span>
          <h3 class="banner-process-title">
           <a href="service-details.html">
            نوسازی و
            <br/>
            بازسازی
           </a>
          </h3>
          <div class="banner-process-content">
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </div>
         </div>
        </div>
        <div class="swiper-slide elementor-banner-process-item">
         <div class="banner-process-caption">
          <span class="number">
           02
          </span>
          <h3 class="banner-process-title">
           <a href="service-details.html">
            طراحی سفارشی
            <br/>
            مشاوره
           </a>
          </h3>
          <div class="banner-process-content">
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </div>
         </div>
        </div>
        <div class="swiper-slide elementor-banner-process-item">
         <div class="banner-process-caption">
          <span class="number">
           03
          </span>
          <h3 class="banner-process-title">
           <a href="service-details.html">
            برنامه ریزی فضایی
            <br/>
            و چیدمان
           </a>
          </h3>
          <div class="banner-process-content">
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </div>
         </div>
        </div>
        <div class="swiper-slide elementor-banner-process-item">
         <div class="banner-process-caption">
          <span class="number">
           04
          </span>
          <h3 class="banner-process-title">
           <a href="service-details.html">
            طراحی سه بعدی
            <br/>
            تجسم
           </a>
          </h3>
          <div class="banner-process-content">
           لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
          </div>
         </div>
        </div>
       </div>
       <div class="banner-process-image-list">
        <div class="banner-process-img">
         <div class="process-img">
          <img alt="img" src="{% static 'img/bg-img\banner-process-1.png' %}"/>
         </div>
        </div>
        <div class="banner-process-img">
         <div class="process-img">
          <img alt="img" src="{% static 'img/bg-img\slider-img-1.png' %}"/>
         </div>
        </div>
        <div class="banner-process-img">
         <div class="process-img">
          <img alt="img" src="{% static 'img/bg-img\slider-img-2.png' %}"/>
         </div>
        </div>
        <div class="banner-process-img">
         <div class="process-img">
          <img alt="img" src="{% static 'img/bg-img\video-bg-1.png' %}"/>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ banner-process-area -->
    <section class="project-section-3 pt-130 pb-130 overflow-hidden fade-wrapper tl-bg-color">
     <div class="container container-2">
      <div class="row section-heading-wrap fade-top">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          پروژه های ویژه
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title cursor-effect title-2">

          <span>
           پروژه های خلاق به سبک ما طراحی کنید

          </span>

         </h2>
        </div>
       </div>
      </div>
      <div class="project-carousel-wrap-3 fade-top">
       <div class="project-carousel-2 swiper">
        <div class="swiper-wrapper">
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-3.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-4.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-5.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-3.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-4.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="project-item-3">
           <div class="project-img">
            <img alt="پروژه" src="{% static 'img/project\project-5.png' %}"/>
           </div>
           <div class="project-content">
            <ul>
             <li>
              <a href="portfolio-details.html">
               مسکونی
              </a>
             </li>
             <li>
              <a href="portfolio-details.html">
               خانه مجردی
              </a>
             </li>
            </ul>
            <h3 class="title">
             <a href="portfolio-details.html">
              خانه هارمونی ساحلی
             </a>
            </h3>
            <span>
             برلین، آلمان
             <br/>
             2025
            </span>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ project-section -->
    <section class="counter-section counter-1">
     <div class="counter-text">
      <span>
       آنترا
      </span>
     </div>
     <div class="counter-element scroll-area">
      <img alt="شمارنده" class="scroll-img" src="{% static 'img/images\counter-img-1.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row gy-5 fade-wrapper">
       <div class="col-lg-3 col-md-6 fade-top">
        <div class="counter-item">
         <h3 class="title">
          <span class="odometer" data-count="22">
           0
          </span>
          <span class="icon">
           +
          </span>
         </h3>
         <h4 class="sub-title">
          سال تجربه
         </h4>
         <p>
          بهسازی خانه ها با متخصص
          <br/>
          کاردستی برای سالها
         </p>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 fade-top">
        <div class="counter-item">
         <h3 class="title">
          <span class="odometer" data-count="189">
           0
          </span>
          <span class="icon">
           +
          </span>
         </h3>
         <h4 class="sub-title">
          پروژه های تکمیل شده
         </h4>
         <p>
          بهسازی خانه ها با متخصص
          <br/>
          کاردستی برای سالها
         </p>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 fade-top">
        <div class="counter-item">
         <h3 class="title">
          <span class="odometer" data-count="265">
           0
          </span>
          <span class="icon">
           +
          </span>
         </h3>
         <h4 class="sub-title">
          بازرگانان ماهر
         </h4>
         <p>
          بهسازی خانه ها با متخصص
          <br/>
          کاردستی برای سالها
         </p>
        </div>
       </div>
       <div class="col-lg-3 col-md-6 fade-top">
        <div class="counter-item">
         <h3 class="title">
          <span class="odometer" data-count="328">
           0
          </span>
          <span class="icon">
           +
          </span>
         </h3>
         <h4 class="sub-title">
          رضایت مشتری
         </h4>
         <p>
          بهسازی خانه ها با متخصص
          <br/>
          کاردستی برای سالها
         </p>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ counter-section -->
    <section class="cta-section-3">
     <div class="cta-bg" data-background="{% static 'img/bg-img/cta-bg-1.png' %}">
     </div>
     <div class="container">
      <div class="cta-wrap-3 text-center fade-wrapper">
       <div class="section-heading text-center white-content fade-top">
        <h4 class="sub-heading">
         بهترین انتخاب شما
        </h4>
        <h2 class="section-title">
         <span>
           شروع پروژه جدید شما
         </span>
        </h2>
       </div>
       <div class="cta-btn-wrap fade-top">
        <a class="cta-btn" href="contact.html">
         دریافت کنید
        </a>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ cta-section -->
    <section class="testimonial-section-3 pt-130 fade-wrapper tl-bg-color">
     <div class="container container-2">
      <div class="row section-heading-wrap fade-top">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          مشتریان ما
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title cursor-effect title-2">
                   <span>
           کلمات گرم مشتریان
          </span>

         </h2>
        </div>
       </div>
      </div>
      <div class="row pin-inner">
       <div class="col-lg-6">
        <div class="testi-img-3 pin-box">
         <img alt="بیضه" src="{% static 'img/testi\testi-img-2.png' %}"/>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="testi-carousel-wrap scroll-content">
         <div class="testi-top-content">
          <div class="left-content">
           <h3 class="rating">
            4.80
           </h3>
           <div class="rating-list">
            <ul>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span>
             2,688 نظر
            </span>
           </div>
          </div>
          <div class="right-content">
           <p>
            از مفهوم به واقعیت، تیم من را تبدیل کرد
            <br/>
            دید به فضایی خیره کننده و قابل زندگی. من نتوانستم
            <br/>
            با این خوشحال تر باش
           </p>
          </div>
         </div>
         <div class="testi-carousel-3 swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="testi-item">
             <p>
              "تجربه فوق العاده ای! آنها می دانستند که چه کاری انجام می دهند و در طول فرآیند فوق العاده آگاه بودند."
             </p>
             <div class="testi-author">
              <div class="author-img">
               <img alt="نویسنده" src="{% static 'img/testi\testi-author-1.png' %}"/>
              </div>
              <h4 class="name">
               علی صادقی
               <span>
                مالک شرکت
               </span>
              </h4>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="testi-item">
             <p>
              "تجربه فوق العاده ای! آنها می دانستند که چه کاری انجام می دهند و در طول فرآیند فوق العاده آگاه بودند."
             </p>
             <div class="testi-author">
              <div class="author-img">
               <img alt="نویسنده" src="{% static 'img/testi\testi-author-1.png' %}"/>
              </div>
              <h4 class="name">
               علی صادقی
               <span>
                مالک شرکت
               </span>
              </h4>
             </div>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="testi-item">
             <p>
              "تجربه فوق العاده ای! آنها می دانستند که چه کاری انجام می دهند و در طول فرآیند فوق العاده آگاه بودند."
             </p>
             <div class="testi-author">
              <div class="author-img">
               <img alt="نویسنده" src="{% static 'img/testi\testi-author-1.png' %}"/>
              </div>
              <h4 class="name">
               علی صادقی
               <span>
                مالک شرکت
               </span>
              </h4>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ testimonial-section -->
    <section class="gallary-section-2 pb-130 overflow-hidden">
     <div class="bg-img" data-background="{% static 'img/bg-img/gallary-bg-1.png' %}">
     </div>
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-4 col-md-12">
        <div class="gallary-left-content">
         <div class="section-heading white-content mb-0">
          <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
           گالری ما
          </h4>
          <h2 class="section-title">
           داخلی
           <br/>
           طراحی
          </h2>
          <p class="mb-0">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
         </div>
        </div>
       </div>
       <div class="col-lg-8">
        <div class="gallary-carousel-wrap">
         <div class="gallary-carousel swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-1.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-2.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-3.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-4.png' %}"/>
             </a>
            </div>
           </div>
          </div>
         </div>
         <div class="swiper-arrow">
          <div class="swiper-nav swiper-prev">
           <i class="fa-regular fa-arrow-right">
           </i>
          </div>
          <div class="swiper-nav swiper-next">
           <i class="fa-regular fa-arrow-left">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ gallary-section -->
    <section class="blog-section pt-150 fade-wrapper tl-bg-color">
     <div class="container container-2">
      <div class="row section-heading-wrap fade-top">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          تیم طراحی
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title cursor-effect title-2">
          نگاهی به
          <span>
           جدیدترین ما
           <br/>
           وبلاگ
          </span>
          &amp; مقالات
         </h2>
        </div>
       </div>
      </div>
      <div class="blog-carousel-2">
       <div class="swiper-wrapper">
        <div class="swiper-slide">
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog\post-1.jpg' %}"/>
           <span class="category">
            بیرونی
           </span>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             چهار راه برای ایجاد فضای اضافی در خانه های کوچک
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
          </div>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog\post-2.png' %}"/>
           <span class="category">
            بیرونی
           </span>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             چهار راه برای ایجاد فضای اضافی در خانه های کوچک
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
          </div>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="post-card">
          <div class="post-thumb">
           <img alt="پست" src="{% static 'img/blog\post-3.png' %}"/>
           <span class="category">
            بیرونی
           </span>
          </div>
          <div class="post-content">
           <ul class="post-meta">
            <li>
             25 خرداد 1405
            </li>
            <li>
             توسط
             <span>
              مدیر
             </span>
            </li>
           </ul>
           <h3 class="title">
            <a href="blog-details.html">
             چهار راه برای ایجاد فضای اضافی در خانه های کوچک
            </a>
           </h3>
           <p>
            یک شرکت ساده و به تازگی تاسیس شده در طراحی داخلی که به دنبال پرداختن به موضوعات مختلف از جمله…
           </p>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ blog-section -->
    <section class="newsletter-section pt-130 pb-130 overflow-hidden tl-bg-color">
     <div class="bg-shape">
      <img alt="شکل" src="{% static 'img/shapes\newsletter-shape.png' %}"/>
     </div>
     <div class="container">
      <div class="newsletter-wrap">
       <div class="section-heading text-center">
        <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
         مشترک شدن در خبرنامه
        </h4>
        <h2 class="section-title cursor-effect">
          <span>
          به خبرنامه ما بپیوندید
         </span>
        </h2>
        <p>
         به خبرنامه ما بپیوندید چیز جدیدی یاد بگیرید، به محتوای انحصاری دسترسی پیدا کنید،
         <br/>
         و از آخرین به‌روزرسانی‌های این صنعت مطلع شوید.
        </p>
       </div>
       <div class="newsletter-form">
        <input class="form-control" id="email" name="email" placeholder="آدرس ایمیل.." type="text"/>
        <button type="submit">
         <i class="fa-regular fa-arrow-right-long">
         </i>
        </button>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ newsletter-section -->

   </div>
  </div>
{% endblock content %}