{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
<div id="antra-smooth-wrapper">
    <div id="antra-smooth-content">
        <section class="slider-section overflow-hidden">
            <div class="antra-slider slider-2 slider-3 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="slider-item">
                            <div class="bg-img" data-background="{% static 'img/bg-img/slider-img-3.png' %}">
                            </div>
                            <div class="container slider-container">
                                <div class="slider-content-wrap">
                                    <div class="slider-content">
                                        <div class="section-heading white-content text-center mb-0">
                                            <h4 class="sub-heading" data-animation="antra-fadeInDown"
                                                data-delay="1000ms" data-duration="1400ms">
                                                شریک طراحی قابل اعتماد
                                            </h4>
                                            <h2 class="section-title" data-animation="antra-fadeInDown"
                                                data-delay="1200ms" data-duration="1400ms">
                                                سلیقه خود را پیدا کنید
                                                <br/>
                                                طراحی داخلی
                                            </h2>
                                            <div class="slider-desc" data-animation="antra-fadeInUp" data-delay="1000ms"
                                                 data-duration="1400ms">
                                                <p>
                                                    با طراحی های نوآورانه ما، دید خود را به واقعیت تبدیل کنید و فضاهای
                                                    مدرنی را ایجاد کنید که عملکرد، زیبایی شناسی و پایداری را با هم ترکیب
                                                    می کند.
                                                </p>
                                            </div>
                                            <div class="slider-btn mt-50" data-animation="antra-fadeInUp"
                                                 data-delay="1200ms" data-duration="1600ms">
                                                <a href="{% url 'contact:contact-us' %}">
                                                    شروع کنید
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="slider-item">
                            <div class="bg-img" data-background="{% static 'img/bg-img/slider-img-2.png' %}">
                            </div>
                            <div class="container slider-container">
                                <div class="slider-content-wrap">
                                    <div class="slider-content">
                                        <div class="section-heading white-content text-center mb-0">
                                            <h4 class="sub-heading" data-animation="antra-fadeInDown"
                                                data-delay="1000ms" data-duration="1400ms">
                                                شریک طراحی قابل اعتماد
                                            </h4>
                                            <h2 class="section-title" data-animation="antra-fadeInDown"
                                                data-delay="1200ms" data-duration="1400ms">
                                                سلیقه خود را پیدا کنید
                                                <br/>
                                                طراحی داخلی
                                            </h2>
                                            <div class="slider-desc" data-animation="antra-fadeInUp" data-delay="1000ms"
                                                 data-duration="1400ms">
                                                <p>
                                                    با طراحی های نوآورانه ما، دید خود را به واقعیت تبدیل کنید و فضاهای
                                                    مدرنی را ایجاد کنید که عملکرد، زیبایی شناسی و پایداری را با هم ترکیب
                                                    می کند.
                                                </p>
                                            </div>
                                            <div class="slider-btn mt-50" data-animation="antra-fadeInUp"
                                                 data-delay="1200ms" data-duration="1600ms">
                                                <a href="{% url 'contact:contact-us' %}">
                                                    شروع کنید
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ slider-section -->
        <section class="about-section-3 pt-130 pb-130 overflow-hidden tl-bg-color">
            <div class="shape-1">
                <img alt="شکل" src="{% static 'img/shapes/about-shape-2.png' %}"/>
            </div>
            <div class="container container-2">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="about-img-wrap-3 slide-anim" data-delay="0.3" data-direction="left"
                             data-offset="100">
                            <div class="about-img-1">
                                <img alt="در مورد" src="{% static 'img/images/about-img-4.png' %}"/>
                            </div>
                            <div class="about-img-2">
                                <img alt="در مورد" src="{% static 'img/images/about-img-5.png' %}"/>
                            </div>
                            <div class="about-counter">
                                <h3 class="title">
           <span class="odometer" data-count="19">
            0
           </span>
                                </h3>
                                <p>
                                    سال
                                    <br/>
                                    تجربه
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="about-content-3 slide-anim" data-delay="0.3" data-direction="right"
                             data-offset="100">
                            <div class="section-heading mb-0">
                                <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                    data-text-animation="fade-in-right">
                                    از سال 1989
                                </h4>
                                <h2 class="section-title cursor-effect title-2">
           <span>
            فضای داخلی
           </span>
                                </h2>
                                <p>
                                    ما معتقدیم که هر فضایی قدرت الهام بخشی را دارد و طراحی عالی این الهام را زنده می
                                    کند. ماموریت ما ایجاد محیط هایی است که خلاقیت را برانگیزد، احساسات را برانگیزد و
                                    ماهیت افرادی را که در آنها زندگی می کنند منعکس کند.
                                </p>
                            </div>
                            <div class="about-items">
                                <div class="about-item">
                                    <h3 class="title">
                                        طراحی مسکونی
                                    </h3>
                                    <p>
                                        تیم ما متشکل از 30 متخصص تضمین می کند
                                        <br/>
                                        نتایج با کیفیت بالا
                                    </p>
                                </div>
                                <div class="about-item">
                                    <h3 class="title">
                                        راه حل های پایدار
                                    </h3>
                                    <p>
                                        تیم ما متشکل از 30 متخصص تضمین می کند
                                        <br/>
                                        نتایج با کیفیت بالا
                                    </p>
                                </div>
                            </div>
                            <div class="about-btn">
                                <a class="tl-primary-btn" href="{% url 'contact:about-us' %}">
                                    اطلاعات بیشتر درباره ما
                                    <span class="icon">
            <i class="fa-regular fa-arrow-right">
            </i>
           </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ about-section -->

        <!-- بخش خدمات - داینامیک از ServiceModel -->
        <section class="service-section-3 pt-130 pb-130 overflow-hidden">
            <div class="bg-img" data-background="{% static 'img/bg-img/service-bg-1.png' %}">
            </div>
            <div class="container container-2">
                <div class="row fade-wrapper">
                    <div class="col-lg-5">
                        <div class="service-left-content-3 white-content fade-top">
                            <div class="section-heading white-content mb-30">
                                <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                    data-text-animation="fade-in-right">
                                    خدمات ما
                                </h4>
                                <h2 class="section-title cursor-effect title-2">
                                    پروژه های جامع مارا ببینید
                                    <br/>
                                    <span>
            طراحی داخلی
           </span>
                                </h2>
                                <div class="desc mt-40 mb-50">
                                    <p>
                                        ما معتقدیم که هر فضایی قدرت الهام بخشی را دارد و طراحی عالی این الهام را زنده می
                                        کند. ماموریت ما ایجاد محیط هایی است که خلاقیت را برانگیزد، احساسات را برانگیزد و
                                        ماهیت افرادی را که در آنها زندگی می کنند منعکس کند.
                                    </p>
                                </div>
                            </div>
                            <div class="service-btn">
                                <a class="tl-primary-btn white-btn" href="{% url 'services:service-list' %}">
                                    کاوش همه خدمات
                                    <span class="icon">
            <i class="fa-regular fa-arrow-right">
            </i>
           </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-carousel-wrap-3 fade-top">
                            <div class="service-carousel-3 swiper">
                                <div class="swiper-wrapper">
                                    {% for service in home_services %}
                                    <div class="swiper-slide">
                                        <div class="service-item-3">
                                            <div class="service-thumb">
                                                <img alt="{{ service.title }}" src="{{ service.image.url }}"/>
                                                <span class="number">
                {{ forloop.counter|stringformat:"02d" }}
               </span>
                                            </div>
                                            <div class="service-content">
                                                <h5 class="title">
                                                    <a href="{% url 'services:service-detail' service.slug %}">
                                                        {{ service.title }}
                                                    </a>
                                                </h5>
                                                <p>
                                                    {{ service.description|truncatewords:15 }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="swiper-slide">
                                        <p>هنوز خدمتی ثبت نشده است.</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ service-section -->

        <section class="skill-section pt-130 pb-130 overflow-hidden fade-wrapper">
            <div class="skill-text">
                آنترا
            </div>
            <div class="shape-1">
                <img alt="شکل" src="{% static 'img/shapes/skill-shape-1.png' %}"/>
            </div>
            <div class="container container-2">
                <div class="row section-heading-wrap pl-0 mw-100 fade-top">
                    <div class="shape">
                        <img alt="شکل" src="{% static 'img/shapes/section-heading.png' %}"/>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading mb-0">
                            <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                data-text-animation="fade-in-right">
                                مشتریان ما
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="section-heading section-heading-2 mb-0">
                            <h2 class="section-title cursor-effect title-2">
                                کارشناس مورد اعتماد در
                                <span>
           معماری
           <br/>
           طراحی
          </span>
                                و نوآوری
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div class="skill-left-content slide-anim" data-delay="0.3" data-direction="left"
                             data-offset="100">
                            <div class="skill-desc">
                                <p>
                                    ما در تبدیل دیدگاه ها به واقعیت تخصص داریم. مجموعه پروژه های نوآورانه معماری و طراحی
                                    داخلی ما را که با دقت ساخته شده اند، کاوش کنید.
                                </p>
                            </div>
                            <div class="skills-items">
                                <div class="skills-item fade-top">
                                    <h4 class="title">
                                        طراحی داخلی
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" data-wow-delay="0ms"
                                             data-wow-duration="2000ms" role="progressbar"
                                             style="width: 85%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              85%
             </span>
                                            <div class="dot">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills-item fade-top">
                                    <h4 class="title">
                                        مدل سازی سه بعدی
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" data-wow-delay="0ms"
                                             data-wow-duration="2000ms" role="progressbar"
                                             style="width: 95%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              95%
             </span>
                                            <div class="dot">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="skills-item fade-top">
                                    <h4 class="title">
                                        برنامه ریزی دو بعدی
                                    </h4>
                                    <div class="progress">
                                        <div class="progress-bar wow slideInLeft" data-wow-delay="0ms"
                                             data-wow-duration="2000ms" role="progressbar"
                                             style="width: 65%; visibility: visible; animation-duration: 2000ms; animation-delay: 0ms; animation-name: slideInLeft;">
             <span>
              65%
             </span>
                                            <div class="dot">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="skill-img slide-anim" data-delay="0.3" data-direction="right" data-offset="100">
                            <img alt="مهارت" src="{% static 'img/images/skill-img-1.png' %}"/>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ skill-section -->

        <section class="faq-section pt-130 pb-130 fade-wrapper tl-bg-color">
            <div class="container container-2">
                <div class="row section-heading-wrap ml-0 mw-100 fade-top">
                    <div class="shape">
                        <img alt="شکل" src="{% static 'img/shapes/section-heading.png' %}"/>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading mb-0">
                            <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                data-text-animation="fade-in-right">
                                خدمات ما
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="section-heading section-heading-2 mb-0 pl-0">
                            <h2 class="section-title cursor-effect title-2">
                                ما همه را انجام می دهیم
                                <span>
           تجارت با
           <br/>
           بالاترین
          </span>
                                استانداردها
                            </h2>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک
                                است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط
                                فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="faq-img slide-anim" data-delay="0.5" data-direction="left" data-offset="100">
                            <img alt="faq" src="{% static 'img/images/faq-img-1.png' %}"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="faq-content">
                            <div class="faq-accordion fade-wrapper">
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item fade-top">
                                        <h2 class="accordion-header" id="headingOne">
                                            <button aria-controls="collapseOne" aria-expanded="true"
                                                    class="accordion-button" data-bs-target="#collapseOne"
                                                    data-bs-toggle="collapse" type="button">
                                                طراحی سه بعدی چیست و چگونه کار می کند؟
                                            </button>
                                        </h2>
                                        <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
                                             data-bs-parent="#accordionExample" id="collapseOne" role="region">
                                            <div class="accordion-body">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item fade-top">
                                        <h2 class="accordion-header" id="headingTwo">
                                            <button aria-controls="collapseTwo" aria-expanded="false"
                                                    class="accordion-button collapsed" data-bs-target="#collapseTwo"
                                                    data-bs-toggle="collapse" type="button">
                                                هزینه طراحی داخلی چقدر است؟
                                            </button>
                                        </h2>
                                        <div aria-labelledby="headingTwo" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample" id="collapseTwo" role="region">
                                            <div class="accordion-body">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item fade-top">
                                        <h2 class="accordion-header" id="headingThree">
                                            <button aria-controls="collapseThree" aria-expanded="false"
                                                    class="accordion-button collapsed" data-bs-target="#collapseThree"
                                                    data-bs-toggle="collapse" type="button">
                                                چقدر برای برنامه ریزی وقت می گذارم؟
                                            </button>
                                        </h2>
                                        <div aria-labelledby="headingThree" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample" id="collapseThree" role="region">
                                            <div class="accordion-body">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item fade-top">
                                        <h2 class="accordion-header" id="headingFour">
                                            <button aria-controls="collapseFour" aria-expanded="false"
                                                    class="accordion-button collapsed" data-bs-target="#collapseFour"
                                                    data-bs-toggle="collapse" type="button">
                                                آیا می توانم طراحی سفارشی ایجاد کنم؟
                                            </button>
                                        </h2>
                                        <div aria-labelledby="headingFour" class="accordion-collapse collapse"
                                             data-bs-parent="#accordionExample" id="collapseFour" role="region">
                                            <div class="accordion-body">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                                                از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و
                                                سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای
                                                متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ faq-section -->

        <section class="banner-process-area overflow-hidden">
            <div class="service-carousel-wrap">
                <div class="banner-process-carousel">
                    <div class="swiper-wrapper antra-swiper-wrapper">
                        {% for service in home_services %}
                        <div class="swiper-slide elementor-banner-process-item">
                            <div class="banner-process-caption">
                        <span class="number">
                         {{ forloop.counter|stringformat:"02d" }}
                        </span>
                                <h3 class="banner-process-title">
                                    <a href="{% url 'services:service-detail' service.slug %}">
                                        {{ service.title }}
                                    </a>
                                </h3>
                                <div class="banner-process-content">
                                    {{ service.description|truncatewords:25 }}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="swiper-slide elementor-banner-process-item">
                            <p>هنوز خدمتی ثبت نشده است.</p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="banner-process-image-list">
                        {% for service in home_services %}
                        <div class="banner-process-img">
                            <div class="process-img">
                                <img alt="{{ service.title }}" src="{{ service.image.url }}"/>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ banner-process-area -->


        <!-- ./ project-section -->

        <section class="counter-section counter-1">
            <div class="counter-element scroll-area">
                <img alt="شمارنده" class="scroll-img" src="{% static 'img/images/counter-img-1.png' %}"/>
            </div>
            <div class="container container-2">
                <div class="row gy-5 fade-wrapper">
                    <div class="col-lg-3 col-md-6 fade-top">
                        <div class="counter-item">
                            <h3 class="title">
          <span class="odometer" data-count="22">
           0
          </span>
                                <span class="icon">
           +
          </span>
                            </h3>
                            <h4 class="sub-title">
                                سال تجربه
                            </h4>
                            <p>
                                بهسازی خانه ها با متخصص
                                <br/>
                                کاردستی برای سالها
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 fade-top">
                        <div class="counter-item">
                            <h3 class="title">
          <span class="odometer" data-count="189">
           0
          </span>
                                <span class="icon">
           +
          </span>
                            </h3>
                            <h4 class="sub-title">
                                پروژه های تکمیل شده
                            </h4>
                            <p>
                                بهسازی خانه ها با متخصص
                                <br/>
                                کاردستی برای سالها
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 fade-top">
                        <div class="counter-item">
                            <h3 class="title">
          <span class="odometer" data-count="265">
           0
          </span>
                                <span class="icon">
           +
          </span>
                            </h3>
                            <h4 class="sub-title">
                                بازرگانان ماهر
                            </h4>
                            <p>
                                بهسازی خانه ها با متخصص
                                <br/>
                                کاردستی برای سالها
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 fade-top">
                        <div class="counter-item">
                            <h3 class="title">
          <span class="odometer" data-count="328">
           0
          </span>
                                <span class="icon">
           +
          </span>
                            </h3>
                            <h4 class="sub-title">
                                رضایت مشتری
                            </h4>
                            <p>
                                بهسازی خانه ها با متخصص
                                <br/>
                                کاردستی برای سالها
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ counter-section -->

        <section class="cta-section-3">
            <div class="cta-bg" data-background="{% static 'img/bg-img/cta-bg-1.png' %}">
            </div>
            <div class="container">
                <div class="cta-wrap-3 text-center fade-wrapper">
                    <div class="section-heading text-center white-content fade-top">
                        <h4 class="sub-heading">
                            بهترین انتخاب شما
                        </h4>
                        <h2 class="section-title">
         <span>
           شروع پروژه جدید شما
         </span>
                        </h2>
                    </div>
                    <div class="cta-btn-wrap fade-top">
                        <a class="cta-btn" href="{% url 'contact:contact-us' %}">
                            دریافت کنید
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ cta-section -->

        <!-- بخش نظرات - داینامیک از TeamModels (فقط مدیر/مدیران) -->
        <section class="testimonial-section-3 pt-130 fade-wrapper tl-bg-color">
            <div class="container container-2">
                <div class="row section-heading-wrap fade-top">
                    <div class="shape">
                        <img alt="شکل" src="{% static 'img/shapes/section-heading.png' %}"/>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading mb-0">
                            <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                data-text-animation="fade-in-right">
                                مشتریان ما
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="section-heading section-heading-2 mb-0">
                            <h2 class="section-title cursor-effect title-2">
          <span>
           کلمات گرم مشتریان
          </span>
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="row pin-inner">
                    <div class="col-lg-6">
                        <div class="testi-img-3 pin-box">
                            <img alt="بیضه" src="{% static 'img/testi/testi-img-2.png' %}"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="testi-carousel-wrap scroll-content">
                            <div class="testi-carousel-3 swiper">
                                <div class="swiper-wrapper">
                                    {% for manager in home_managers %}
                                    <div class="swiper-slide">
                                        <div class="testi-item">
                                            <p>
                                                "{{ manager.manager_quote }}"
                                            </p>
                                            <div class="testi-author">
                                                <div class="author-img">
                                                    <img alt="{{ manager.full_name }}" src="{{ manager.image.url }}"/>
                                                </div>
                                                <h4 class="name">
                                                    {{ manager.full_name }}
                                                    <span>
                 مالک شرکت
                </span>
                                                </h4>
                                            </div>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="swiper-slide">
                                        <p>نظری برای نمایش ثبت نشده است.</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ testimonial-section -->

        <!-- بخش گالری - داینامیک از GalleryModel -->
        <section class="gallary-section-2 pb-130 overflow-hidden">
            <div class="bg-img" data-background="{% static 'img/bg-img/gallary-bg-1.png' %}">
            </div>
            <div class="container container-2">
                <div class="row">
                    <div class="col-lg-4 col-md-12">
                        <div class="gallary-left-content">
                            <div class="section-heading white-content mb-0">
                                <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                    data-text-animation="fade-in-right">
                                    گالری ما
                                </h4>
                                <h2 class="section-title">
                                    داخلی
                                    <br/>
                                    طراحی
                                </h2>
                                <p class="mb-0">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان
                                    گرافیک است.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        <div class="gallary-carousel-wrap">
                            <div class="gallary-carousel swiper">
                                <div class="swiper-wrapper">
                                    {% for photo in home_gallery %}
                                    <div class="swiper-slide">
                                        <div class="gallary-inner-item">
                                            <a href="{{ photo.image.url }}">
                                                <img alt="{{ photo.alt_text|default:'گالری' }}"
                                                     src="{{ photo.image.url }}"/>
                                            </a>
                                        </div>
                                    </div>
                                    {% empty %}
                                    <div class="swiper-slide">
                                        <p>تصویری برای نمایش ثبت نشده است.</p>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="swiper-arrow">
                                <div class="swiper-nav swiper-prev">
                                    <i class="fa-regular fa-arrow-right">
                                    </i>
                                </div>
                                <div class="swiper-nav swiper-next">
                                    <i class="fa-regular fa-arrow-left">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ gallary-section -->

        <!-- بخش وبلاگ - داینامیک از BlogModels -->
        <section class="blog-section pt-150 fade-wrapper tl-bg-color">
            <div class="container container-2">
                <div class="row section-heading-wrap fade-top">
                    <div class="shape">
                        <img alt="شکل" src="{% static 'img/shapes/section-heading.png' %}"/>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="section-heading mb-0">
                            <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                                data-text-animation="fade-in-right">
                                تیم طراحی
                            </h4>
                        </div>
                    </div>
                    <div class="col-lg-8 col-md-12">
                        <div class="section-heading section-heading-2 mb-0">
                            <h2 class="section-title cursor-effect title-2">
                                نگاهی به
                                <span>
           جدیدترین ما
           <br/>
           وبلاگ
          </span>
                                &amp; مقالات
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="blog-carousel-2">
                    <div class="swiper-wrapper">
                        {% for blog in home_blogs %}
                        <div class="swiper-slide">
                            <div class="post-card">
                                <div class="post-thumb">
                                    <img alt="{{ blog.title }}" src="{{ blog.image.url }}"/>
                                    {% if blog.category %}
                                    <span class="category">
              {{ blog.category.title }}
             </span>
                                    {% endif %}
                                </div>
                                <div class="post-content">
                                    <ul class="post-meta">
                                        <li>
                                            {{ blog.created_date|date:"d/m/Y" }}
                                        </li>
                                        <li>
                                            توسط
                                            <span>
               مدیر
              </span>
                                        </li>
                                    </ul>
                                    <h3 class="title">
                                        <a href="{% url 'blog:blog-detail' blog.slug %}">
                                            {{ blog.title }}
                                        </a>
                                    </h3>
                                    <p>
                                        {{ blog.short_description|truncatewords:15 }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="swiper-slide">
                            <p>هنوز مقاله‌ای منتشر نشده است.</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- ./ blog-section -->

        <!-- بخش خبرنامه - داینامیک -->
        <section class="newsletter-section pt-130 pb-130 overflow-hidden tl-bg-color">
            <div class="bg-shape">
                <img alt="شکل" src="{% static 'img/shapes/newsletter-shape.png' %}"/>
            </div>
            <div class="container">
                <div class="newsletter-wrap">
                    <div class="section-heading text-center">
                        <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03"
                            data-text-animation="fade-in-right">
                            مشترک شدن در خبرنامه
                        </h4>
                        <h2 class="section-title cursor-effect">
          <span>
          به خبرنامه ما بپیوندید
         </span>
                        </h2>
                        <p>
                            به خبرنامه ما بپیوندید چیز جدیدی یاد بگیرید، به محتوای انحصاری دسترسی پیدا کنید،
                            <br/>
                            و از آخرین به‌روزرسانی‌های این صنعت مطلع شوید.
                        </p>
                    </div>

                    {% if messages %}
                    <div class="newsletter-messages text-center mb-20">
                        {% for message in messages %}
                        <p class="{{ message.tags }}">
                            {{ message }}
                        </p>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <form class="newsletter-form" method="post" action="{% url 'contact:subscribe' %}">
                        {% csrf_token %}
                        <input class="form-control" id="email" name="email" placeholder="آدرس ایمیل.." type="text"/>
                        <button type="submit">
                            <i class="fa-regular fa-arrow-right-long">
                            </i>
                        </button>
                    </form>
                </div>
            </div>
        </section>
        <!-- ./ newsletter-section -->

    </div>
</div>
{% endblock content %}