{% extends 'basses/base.html' %}
{% load static %}
{% block content %}
  <div id="antra-smooth-wrapper">
   <div id="antra-smooth-content">
    <section class="page-header">
     <div class="bg-img" data-background="{% static 'img/bg-img/page-header-bg.png' %}">
     </div>
     <div class="overlay">
     </div>
     <div class="container">
      <div class="page-header-content">
       <h1 class="title">
        درباره ما
       </h1>
       <h4 class="sub-title">
        <a class="home" href="index.html">
         صفحه اصلی
        </a>
        <span class="icon">
         -
        </span>
        <a class="inner-page" href="about.html">
         درباره ما
        </a>
       </h4>
      </div>
     </div>
    </section>
    <!-- ./ page-header -->
    <section class="about-section-2 pt-130 pb-130">
     <div class="shape-1">
      <img alt="شکل" src="{% static 'img/shapes\about-shape-1.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row about-wrap-2">
       <div class="col-lg-8">
        <div class="about-content-left">
         <div class="section-heading">
          <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
           در سال 1991 شروع شد
          </h4>
          <h2 class="section-title title-2">
           <span>
            فضاهای الهام بخش را شکل میدهیم
           </span>
          </h2>
         </div>
         <div class="about-counter-wrap ndf">
          <div class="counter-content">
           <h3 class="title">
            <span class="odometer" data-count="26">
             0
            </span>
           </h3>
           <p>
            سال تجربه
           </p>
          </div>
          <div class="counter-img">
           <img alt="شمارنده" src="{% static 'img/images\about-img-2.png' %}"/>
          </div>
         </div>
        </div>
       </div>
       <div class="col-lg-4">
        <div class="about-content-right">
         <div class="about-img-1">
          <img alt="در مورد" src="{% static 'img/images\about-img-3.png' %}"/>
         </div>
         <div class="about-desc">
          <p>
           ما معتقدیم که هر فضایی قدرت الهام بخشی را دارد و این طراحی عالی به ارمغان می آورد. ماموریت ما ایجاد محیط هایی است که خلاقیت را برانگیزد، احساسات را برانگیزد و ماهیت افرادی را که در آنها زندگی می کنند منعکس کند.
          </p>
          <div class="about-btn">
           <a class="tl-primary-btn" href="about.html">
            اطلاعات بیشتر درباره ما
            <span class="icon">
             <i class="fa-regular fa-arrow-right">
             </i>
            </span>
           </a>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ about-section -->
    <div class="video-area-wrap">
     <div class="video-bg" data-background="{% static 'img/bg-img/video-bg-3.png' %}">
     </div>
     <div class="play-btn">
      <a class="video-popup venobox" data-autoplay="true" data-vbtype="video" href="https://youtu.be/JwC-Qx1lJso">
       بازی کردن
      </a>
     </div>
    </div>
    <!-- ./ video-section -->
    <section class="history-section pt-130 pb-130">
     <div class="history-text">
      <span>
       آنترا
      </span>
     </div>
     <div class="history-element">
      <img alt="شمارنده" src="{% static 'img/images\counter-img-1.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row section-heading-wrap ml-0 mw-100">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          سابقه ما
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title title-2">
          <span>
          سابقه ما
          </span>
         </h2>
        </div>
       </div>
      </div>
      <div class="history-carousel-wrap">
       <div class="history-carousel swiper">
        <div class="swiper-wrapper">
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
         <div class="swiper-slide">
          <div class="history-item">
           <div class="history-img">
            <img alt="تاریخچه" src="{% static 'img/images\history-img-1.png' %}"/>
           </div>
           <div class="history-content">
            <div class="circle">
            </div>
            <h3 class="title">
             <a href="about.html">
              1405
             </a>
            </h3>
            <p>
             15 سالگی را با نمایش گذشته نگر از پروژه ها و نقاط عطف شرکت جشن می گیرد.
            </p>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ history-section -->
    <section class="process-section overflow-hidden bg-white">
     <div class="bg-shape" data-background="{% static 'img/shapes/process-shape-1.png' %}">
     </div>
     <div class="container container-2">
      <div class="heading-space align-items-end">
       <div class="section-heading mb-0">
        <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
         چگونه کار می کنیم
        </h4>
        <h2 class="section-title title-2">
         <span>
          معماری استثنایی
         </span>
        </h2>
       </div>
       <div class="process-desc">
        <p class="mb-0">
         روند ما زنده است - سازگاری، پالایش و رشد
         <br/>
         با دید شما همیشه.
         <br/>
         مانند هنرمندانی که یک بوم خالی دارند، اتاق ها را تغییر می دهیم
         <br/>
         به آثار هنری زنده
        </p>
       </div>
      </div>
      <div class="row gy-xl-0 gy-4 process-wrap">
       <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="process-item">
         <div class="process-thumb">
          <img alt="فرآیند" src="{% static 'img/images\process-img-1.png' %}"/>
         </div>
         <div class="process-content">
          <h3 class="title">
           <span>
            01
           </span>
           . مشاوره اولیه
          </h3>
          <p>
           ما با درک شروع می کنیم
           <br/>
           چشم انداز، اهداف و نیازهای شما،
           <br/>
           آنترا را دنبال کرد.
          </p>
         </div>
         <span class="number">
          01
         </span>
        </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="process-item">
         <div class="process-thumb">
          <img alt="فرآیند" src="{% static 'img/images\process-img-2.png' %}"/>
         </div>
         <div class="process-content">
          <h3 class="title">
           <span>
            02
           </span>
           . طراحی و برنامه ریزی
          </h3>
          <p>
           ما با درک شروع می کنیم
           <br/>
           چشم انداز، اهداف و نیازهای شما،
           <br/>
           آنترا را دنبال کرد.
          </p>
         </div>
         <span class="number">
          02
         </span>
        </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="process-item">
         <div class="process-thumb">
          <img alt="فرآیند" src="{% static 'img/images\process-img-3.png' %}"/>
         </div>
         <div class="process-content">
          <h3 class="title">
           <span>
            03
           </span>
           . پیاده سازی
          </h3>
          <p>
           ما با درک شروع می کنیم
           <br/>
           چشم انداز، اهداف و نیازهای شما،
           <br/>
           آنترا را دنبال کرد.
          </p>
         </div>
         <span class="number">
          03
         </span>
        </div>
       </div>
       <div class="col-xl-3 col-lg-6 col-md-6">
        <div class="process-item">
         <div class="process-thumb">
          <img alt="فرآیند" src="{% static 'img/images\process-img-4.png' %}"/>
         </div>
         <div class="process-content">
          <h3 class="title">
           <span>
            04
           </span>
           . واگذاری پروژه
          </h3>
          <p>
           ما با درک شروع می کنیم
           <br/>
           چشم انداز، اهداف و نیازهای شما،
           <br/>
           آنترا را دنبال کرد.
          </p>
         </div>
         <span class="number">
          04
         </span>
        </div>
       </div>
      </div>
      <div class="process-text">
       <h5 class="bottom-text">
        ما سخت کار کرده ایم تا شما را تحت تاثیر قرار دهیم.
        <a href="contact.html">
         امروز خود را شروع کنید
        </a>
       </h5>
      </div>
     </div>
    </section>
    <!-- ./ process-section -->
    <section class="award-section bg-grey pt-130 pb-130">
     <div class="bg-shape">
      <img alt="شکل" src="{% static 'img/shapes\team-bg-shape-1.png' %}"/>
     </div>
     <div class="container container-2">
      <div class="row section-heading-wrap">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          جایزه و دستاورد
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title title-2">
          <span>
          جوایز ما در صنعت
          </span>
         </h2>
        </div>
       </div>
      </div>
      <div class="row award-wrap">
       <div class="col-lg-5">
        <div class="award-img">
         <img alt="img" src="{% static 'img/images\award-img-1.png' %}"/>
        </div>
       </div>
       <div class="col-lg-7">
        <div class="award-item-list">
         <div class="award-item" data-img="{% static 'img/images/award-img-1.png' %}">
          <div class="left-content">
           <span class="number">
            1405
           </span>
           <h3 class="title">
            بهترین طراحی مسکونی
           </h3>
          </div>
          <div class="mid-content">
           <span>
            طراحی داخلی
           </span>
          </div>
         </div>
         <div class="award-item" data-img="{% static 'img/images/award-img-2.jpg' %}">
          <div class="left-content">
           <span class="number">
            2024
           </span>
           <h3 class="title">
            طراحی تجاری برتر
           </h3>
          </div>
          <div class="mid-content">
           <span>
            معماری
           </span>
          </div>
         </div>
         <div class="award-item" data-img="{% static 'img/images/award-img-3.jpg' %}">
          <div class="left-content">
           <span class="number">
            2023
           </span>
           <h3 class="title">
            جایزه طراحی پایدار
           </h3>
          </div>
          <div class="mid-content">
           <span>
            مرکز جامعه
           </span>
          </div>
         </div>
         <div class="award-item" data-img="{% static 'img/images/award-img-4.jpg' %}">
          <div class="left-content">
           <span class="number">
            2022
           </span>
           <h3 class="title">
            جایزه فضای اداری خلاق
           </h3>
          </div>
          <div class="mid-content">
           <span>
            ساختمان شرکت
           </span>
          </div>
         </div>
         <div class="award-item" data-img="{% static 'img/images/award-img-5.jpg' %}">
          <div class="left-content">
           <span class="number">
            2020
           </span>
           <h3 class="title">
            طراح نوظهور سال
           </h3>
          </div>
          <div class="mid-content">
           <span>
            طراحی داخلی
           </span>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ award-section -->
    <section class="gallary-section-2 pb-130 overflow-hidden">
     <div class="bg-img" data-background="{% static 'img/bg-img/gallary-bg-1.png' %}">
     </div>
     <div class="container container-2">
      <div class="row">
       <div class="col-lg-4 col-md-12">
        <div class="gallary-left-content">
         <div class="section-heading white-content mb-0">
          <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
           گالری ما
          </h4>
          <h2 class="section-title">

           طراحی
            <br/>

           داخلی

          </h2>
          <p class="mb-0">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
          </p>
         </div>
        </div>
       </div>
       <div class="col-lg-8">
        <div class="gallary-carousel-wrap">
         <div class="gallary-carousel swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-1.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-2.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-3.png' %}"/>
             </a>
            </div>
           </div>
           <div class="swiper-slide">
            <div class="gallary-inner-item">
             <a href="about.html">
              <img alt="img" src="{% static 'img/images\gallary-img-4.png' %}"/>
             </a>
            </div>
           </div>
          </div>
         </div>
         <div class="swiper-arrow">
          <div class="swiper-nav swiper-prev">
           <i class="fa-regular fa-arrow-right">
           </i>
          </div>
          <div class="swiper-nav swiper-next">
           <i class="fa-regular fa-arrow-left">
           </i>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ gallary-section -->
    <section class="testimonial-section bg-white pt-150">
     <div class="container container-2">
      <div class="row section-heading-wrap">
       <div class="shape">
        <img alt="شکل" src="{% static 'img/shapes\section-heading.png' %}"/>
       </div>
       <div class="col-lg-4 col-md-12">
        <div class="section-heading mb-0">
         <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
          مشتریان ما
         </h4>
        </div>
       </div>
       <div class="col-lg-8 col-md-12">
        <div class="section-heading section-heading-2 mb-0">
         <h2 class="section-title title-2">
                   <span>
           کلمات گرم مشتریان
          </span>

         </h2>
        </div>
       </div>
      </div>
      <div class="row">
       <div class="col-lg-6">
        <div class="testi-img">
         <img alt="بیضه" src="{% static 'img/testi\testi-img-1.png' %}"/>
        </div>
       </div>
       <div class="col-lg-6">
        <div class="testi-carousel-wrap">
         <div class="testi-top-content">
          <div class="left-content">
           <h3 class="rating">
            4.80
           </h3>
           <div class="rating-list">
            <ul>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
             <li>
              <i class="fa-solid fa-star">
              </i>
             </li>
            </ul>
            <span>
             2,688 نظر
            </span>
           </div>
          </div>
          <div class="right-content">
           <p>
            از مفهوم به واقعیت، تیم من را تبدیل کرد
            <br/>
            دید به فضایی خیره کننده و قابل زندگی. من نتوانستم
            <br/>
            با این خوشحال تر باش
           </p>
          </div>
         </div>
         <div class="testi-carousel swiper">
          <div class="swiper-wrapper">
           <div class="swiper-slide">
            <div class="testi-item">
             <p>
              "تجربه فوق العاده ای! آنها می دانستند که چه کاری انجام می دهند و در طول فرآیند فوق العاده آگاه بودند."
             </p>
             <div class="testi-author">
              <div class="author-img">
               <img alt="نویسنده" src="{% static 'img/testi\testi-author-1.png' %}"/>
              </div>
              <h4 class="name">
               علی صادقی
               <span>
                مالک شرکت
               </span>
              </h4>
             </div>
            </div>
           </div>
          </div>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ testimonial-section -->
    <section class="sponsor-section bg-white pt-120 pb-130 overflow-hidden">
     <div class="container">
      <div class="sponsor-text-wrap sponsor-text-wrap-2">
       <h5 class="sponsor-text">
        وب سایت ما
        <span>
         75000
        </span>
        + مشتری VIP
       </h5>
      </div>
      <div class="sponsor-carousel swiper">
       <div class="swiper-wrapper">
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-1.png' %}"/>
          </a>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-2.png' %}"/>
          </a>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-3.png' %}"/>
          </a>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-4.png' %}"/>
          </a>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-5.png' %}"/>
          </a>
         </div>
        </div>
        <div class="swiper-slide">
         <div class="sponsor-item">
          <a href="#">
           <img alt="حامی" src="{% static 'img/sponsor\sponsor-6.png' %}"/>
          </a>
         </div>
        </div>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ sponsor-section -->
    <section class="newsletter-section bg-white pb-130 overflow-hidden">
     <div class="bg-shape">
      <img alt="شکل" src="{% static 'img/shapes\newsletter-shape.png' %}"/>
     </div>
     <div class="container">
      <div class="newsletter-wrap">
       <div class="section-heading text-center">
        <h4 class="sub-heading" data-duration="0.9" data-split="char" data-stagger="0.03" data-text-animation="fade-in-right">
         مشترک شدن در خبرنامه
        </h4>
        <h2 class="section-title">
         <span>
          به خبرنامه ما بپیوندید
         </span>
        </h2>
        <p>
         به خبرنامه ما بپیوندید چیز جدیدی یاد بگیرید، به محتوای انحصاری دسترسی پیدا کنید،
         <br/>
         و از آخرین به‌روزرسانی‌های این صنعت مطلع شوید.
        </p>
       </div>
       <div class="newsletter-form">
        <input class="form-control" id="email" name="email" placeholder="آدرس ایمیل.." type="text"/>
        <button type="submit">
         <i class="fa-regular fa-arrow-right-long">
         </i>
        </button>
       </div>
      </div>
     </div>
    </section>
    <!-- ./ newsletter-section -->

   </div>
  </div>
{% endblock content %}